[2015-07-16 15:47] WardBenjamin opened #1 "Adding camera functionality"
Hey Dylan,

I'm interested in contributing a few utility methods for the Camera2D class, mainly some methods to check if a point or rectangle is on screen, but possibly a few others. Your README specified that I should discuss what you think would be good contributions, so here's the discussion :wink:

[2015-07-16 22:29] craftworkgames commented on #1
Hi @WardBenjamin

Welcome to the project. I started it less than 2 weeks ago, so it's great to see some interest in it already :smiley: I'm still trying to figure out how everything is going work around here. Since this is the first request, let's just play it by ear and see how it goes.

For smallish changes like this I don't think we need to discuss it forever. Maybe just list some bullet points

[2015-07-16 22:46] craftworkgames commented on #1
The other thing I find helpful is to take a look at how other game frameworks do things. For example, the [LibGDX camera](http://libgdx.badlogicgames.com/nightlies/docs/api/com/badlogic/gdx/graphics/Camera.html) has a lot of good functionality we could consider bringing over.

I don't think it's a good idea to copy the API exactly. Mostly because I want MonoGame.Extended to feel like it's part of

[2015-07-17 02:33] WardBenjamin commented on #1
I definitely think that that is the way to go. I did some research into improving my camera setup very recently and am in the process of integrating a Monogame BoundingFrustrum into it (currently I have a rectangle representing the viewport, which does not support rotation).

Checking the code, I see that we currently have the following functionality already implemented:
- `Vector2 Position`
- `fl

[2015-07-17 05:20] craftworkgames commented on #1
Yep we should definitely add the [BoundingFrustum](https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/BoundingFrustum.cs) to the camera.

The naming convention I've been using would be to have a `GetBoundingFrustum` method instead of a property, to imply that it does some heavy calculations. That's why I've gone with `GetViewMatrix` instead of a `ViewMatrix` property. Does that make

[2015-07-17 13:04] craftworkgames opened #2 "What should go into the MonoGame.Extended library?"
This is a discussion about what kinds of things should go into the library.

### What it should be

The goal of MonoGame.Extended is to provide extra functionality that MonoGame doesn't provide out of the box, but is often required to develop complete and polished games. It will be published as a portable class library (PCL) NuGet package that can be added to a MonoGame project. The API should fee

[2015-07-17 14:24] WardBenjamin commented on #1
Alright, I'm going to go ahead and get started. I'll definitely use the same conventions as you had before, they're fine. I personally use a ViewMatrix property but the method works just as well, and makes a lot of sense when you bring up the computational complexity behind it (compared, to say, a float).

I definitely think we should explore some kind of unit testing or something; I have some exp

[2015-07-17 14:38] craftworkgames commented on #1
Sounds great. I've already got a build system setup using a team city server. I added a link to the readme tonight. I'm not fussed what we use for the testing framework. NUnit, xUnit or MSTest. Actually, we probably should use whatever monogame uses.

A separate repo for demos is a good idea, but we'll also need to keep a kind of sandbox in the main repo for building features I think.

`Contains`

[2015-07-17 14:44] WardBenjamin commented on #1
Night!

I'm pretty sure that MonoGame uses NUnit, though I can check that out in a second. I'll edit this post with more information.

[2015-07-17 22:21] craftworkgames commented on #1
I think a contributor to this project might also be a contributor to MonoGame. I could be wrong about that but it's a good a reason as any. I don't know of any reason not to use NUnit.

[2015-07-18 00:43] craftworkgames commented on #1
I've added NUnit to the project with 1 test. Unfortunately there's not a lot we can actually test at this stage because it's impossible to mock / substitute MonoGame's `GraphicsDevice`. We *could* make the code more testable, but I'm not sure it's worth it because it will also make it more complicated.

Anyway, here's the first test run on the build system.
http://build.craftworkgames.com/viewLog.

[2015-07-18 12:56] WardBenjamin commented on #1
I currently am doing some testing of the bounding frustrum; the other methods should be trivial to implement. I'll probably submit a pull request either today or tomorrow based on when I have internet access, since I'm traveling today.

[2015-07-19 23:23] WardBenjamin commented on #1
So, I've been doing some testing and I just ran the Game1 executable for the first time. Even without my changes, it seems to be overflowing the stack (literally, a StackOverflowException). It's occurring in BoxingViewportAdapter supposedly, but I'll hunt around for it a bit.

[2015-07-19 23:44] craftworkgames commented on #1
@WardBenjamin No problem. I remember the stack overflow exception from a few days ago. My fault for committing it. It's just a coincidence that you happened to fork it at that time.

Looking forward to the pull request. Once it's done I'm going to restructure the project a bit (renames some folders, move some classes into namespaces)

[2015-07-19 23:46] craftworkgames commented on #1
Oh btw.. I've raised another issue over here #2 if you'd like to comment.

[2015-07-19 23:52] WardBenjamin commented on #2
I don't see a problem with any of this; I have had to implement many of these features myself. I can't think of anything else that should be added off of the top of my head, but here's a list of the ones that I have base implementations of that could be used as a starting point (many are usable but very crude):

 - GUI
- Input listeners (except for keyboard, that one will be really tough since we

[2015-07-19 23:55] WardBenjamin commented on #1
@craftworkgames I've added a comment on #2, as well as reaching out to a guy that I know on GameDev.StackExchange for any further ideas that he may have (he used Monogame for a long time before switching to Unity, because Monogame lacked features such as the ones you are suggesting).

[2015-07-20 00:02] WardBenjamin commented on #1
@craftworkgames How do you feel about region directives? I personally like to keep all overloads of a method inside a region if there are more than a few just so I can collapse them, but I would like some verification that that is alright with you.

[2015-07-20 00:04] craftworkgames commented on #2
Good to know. This morning I started working on Bitmap Fonts and I'm looking at how to create custom content loaders with the new Pipline tool.

I'm not sure how to best split the library up yet. I think the core `MonoGame.Extended.dll` should remain pure and we should create separate libraries for things that carry dependencies. For example, if we use a 3rd party DLL like the Spine animations it

[2015-07-20 00:07] craftworkgames commented on #1
@WardBenjamin I'm really not a big fan of regions to be honest. I think they clutter up the code and make it harder to read.

[2015-07-20 00:08] WardBenjamin commented on #1
Alright, that's fine. I'll remove them. I've just about finished with the basic `Contains` methods, the rectangle one is proving hard to find an elegant solution.

[2015-07-20 00:35] WardBenjamin commented on #2
I fully agree. As far as NuGet packages go, we may want to look into how Monogame deploys theirs (I think the TeamCity server builds it or something). If I remember correctly, they talked about it in some issues a while back.

[2015-07-20 00:36] craftworkgames commented on #2
I've created NuGet packages on our build server before. It shouldn't be too difficult.

[2015-07-20 00:38] WardBenjamin commented on #1
I think this can be closed as of pull request #3 and #4, once it is merged.

[2015-07-20 00:40] WardBenjamin commented on #1
As a note, something that could be considered for the Contains(Rectangle) overload, Dustin Horne did some experimentation with that topic, which can be read here: http://www.dustinhorne.com/post/2011/10/18/XNA-Terrain-with-LOD-Part-7-Better-Culling-With-2D-Shapes

[2015-07-20 00:48] #1 closed

[2015-07-20 02:55] craftworkgames commented on #1
@WardBenjamin Thanks for working on this.

If it's okay with you I'm going to do some project restructuring later tonight. I'll be moving files around and renaming folders so it could turn into a nasty merge if you've got any uncommitted changes? Just wondering if you can hold off making any more changes for the half day or so?

[2015-07-20 05:43] craftworkgames commented on #1
I added a few unit tests around the new camera functionality and found some bugs. There was also a bug in another class that I picked up along the way :dizzy_face: Anyway.. at least the unit tests are proving to have value.

[2015-07-20 10:42] WardBenjamin commented on #1
@craftworkgames yeah, I can definitely hold off on changes for a while. I leave for vacation again on Tuesday so I'm spending quite a bit of time packing :angry:

What were some of the camera bugs?

[2015-07-20 11:04] craftworkgames commented on #1
@WardBenjamin Don't worry about it. We all make mistakes like that. You were probably just excited to get your changed merged :smile:

I switched the project from OpenGL to DirectX (because @roastedamoeba on twitter said that it would make the unit testing easier). He was right, but I also found the DirectX version has some bugs when setting the `GraphicsDevice.Viewport` property. I'm looking at t

[2015-07-20 11:06] WardBenjamin commented on #1
:grinning:

That's interesting that the DX code has some bugs like that. I know that the half-pixel offest thing for the projection matrix actually is native for DX; It's in the GL SpriteBatch to match DX's native.... Did that effect the test?

[2015-07-20 11:08] craftworkgames commented on #1
Hard to say. I never actually got the test working with GL.

[2015-07-21 03:17] craftworkgames commented on #1
@WardBenjamin I've finished the folder restructure. I recommend deleting your local repo and getting it fresh because it seems to leave old folders around. I probably didn't do it quite right.

In particular, I renamed the root `MonoGame.Extended` folder to `Source` and when I got latest version on another computer it left the old `MonoGame.Extended` folder and I had to delete it manually.

[2015-07-21 10:44] WardBenjamin commented on #1
Good to know, thanks!

I'm leaving for vacation today, if you would like me to do something either drop me a comment here or a ping to @Pip on GameDev.SE. I'll definitely respond to either of those when I get back.

[2015-07-21 10:48] craftworkgames commented on #1
Cool thanks.

[2015-07-28 17:55] ClassicThunder commented on #2
Feel free to pull in any of the projects on my GitHub page. In particular my input [library](https://github.com/ClassicThunder/XNA_EventDriven_Input) may be useful.

[2015-07-28 22:25] craftworkgames commented on #2
Hey @ClassicThunder

I remember reading your blog post about event driven input just the other day. I'm pretty sure I bookmarked it somewhere.

I'll take a closer look and see what it might fit into MonoGame.Extended. Rather than just pulling in everything all at once I think it's a good idea to take it slow, one thing at a time and consider how to keep the API consistent. Other than that I think

[2015-07-29 18:28] WardBenjamin commented on #2
So, I have arisin from the world that some people mistakenly call vacation, but I call "a boring week in the middle of nowhere with no wifi access visiting family". What can I do?

I see you completed a simple bitmap font loading/drawing extension, what's next on the table? If I remember correctly from the commit messages, you're working on Tiled integration (to go in Monogame.Extended.Tiled?), so

[2015-07-29 21:09] WardBenjamin opened #7 "Sprites and SpriteBatch extension methods"
Hey Dylan,

I've started some work on a Sprite class and I currently have the simple basics (aka texture, position, bounds rectangle), as well as a SpriteBatch extension. Now, I'd like to discuss the other API that we would like to expose.

What I currently have planned:
 - Texture2D Texture
 - Vector2 Position
 - Vector2 Scale (x-scale and y-scale)
 - Color Color
 - float Rotation
 - Anchoring or

[2015-07-29 22:56] craftworkgames commented on #7
Sounds like you're on the right track.

I find this easier to talk about while looking at some code so here's my thoughts on a `Sprite` class.

[code]

This basically matches one of the overloads of the `SpriteBatch.Draw` methods I think.

You'll notice I'm using `TextureRegion` instead of `Texture`. This captures the idea that you might have many sprites packed into a single texture atlas. There'

[2015-07-29 23:16] craftworkgames commented on #2
Welcome back :)

I learned a lot about using the MonoGame content pipeline while doing the bitmap fonts. I noticed people often ask on the forums and stack overflow about how to load Tiled maps so I think this is a good addition.

I'll have a think about we can manage a to do list.

[2015-07-30 01:19] WardBenjamin commented on #7
I think a Trello board is a fantastic idea; I regularly use several for my projects.

When I am talking about anchors, I mean something like: https://www.youtube.com/watch?v=IkbRhPJYZcI (same concept that is used when resizing an image in a nice image editing program).

We can further discuss the origin issue at some point later, I can implement both for now.

Sounds good to me! I already work in

[2015-07-30 01:36] craftworkgames commented on #7
Cool.

Well here's the Trello board I prepared earlier. I've been working out of this alone so it's a bit of a random brain dump at the moment. Once we are working in it together we'll keep it more organized.

https://trello.com/b/Xi6Rfqhb/monogame-extended

[2015-07-30 16:24] ClassicThunder commented on #2
MonoGame+ is just short hand to indicate the post is relevant to XNA and anything that accurately replicates it, so theoretically MonoGame and FNA.

I wouldn't mind putting in work to make what I have work well with  mobile. Only reason I've kept away from mobile dev so far is the lack of test devices. I have my iPhone 5s and that is about it.

Personally I would rather have things more broken out

[2015-07-31 13:31] craftworkgames commented on #2
Yes I agree the core library should not carry any dependencies.

I'm not sure why the camera would need to be split out? It doesn't have any dependencies and is a fairly core concept. Can you elaborate on your thoughts?

Yep, Tiled definitely makes sense to split out. Unfortunately things are never as simple as they seem. Some of the Tiled code belongs in a content pipeline project, some of it bel

[2015-08-01 12:33] craftworkgames opened #8 "The version 0.1 milestone"
The purpose of the first milestone in the project is simply to start a regular release cycle. By the end of this milestone we'll have at least one "alpha" NuGet package published on nuget.org.

After the NuGet package is published, it can be used in another repository of MonoGame.Extended demos / samples. This will help new users try it out, see what it can do and also act as a set of regression t

[2015-08-01 12:34] craftworkgames opened #9 "We need demos / samples"
Currently, each time a new feature is created, the code is briefly tested in a "sandbox" project and then discarded. It would be better if we kept these little "demos" in another repository so that they can show off what MonoGame.Extended can do.

The demo / samples repository will also act as a set of manual regression tests. The MonoGame team is interested in [something like this](https://github

[2015-08-01 12:36] craftworkgames opened #10 "Splitting the project into different DLLs and NuGet packages"
The idea of splitting up MonoGame.Extended into a few different DLL's and NuGet packages has come a up a few times. I think this is a good idea in principle, but it's also a complex issue.

Let's discuss how the project should be split up and the pros and cons of each option. Initially the primary goal is to keep 3rd party dependencies out of the core library.

Currently, the project is structured

[2015-08-01 12:51] craftworkgames opened #11 "Tiled map editor support"
I've been working on [Tiled](http://www.mapeditor.org/) map loading recently. It's working at a bare minimum level loading the TMX map files with the MonoGame Pipeline tool and rendering the map using `SpriteBatch`'s for each map layer.

There's still lots of things to do:

 - Rendering just the visible tiles in the camera's rectangle
 - There seems to be an issue with gaps between tiles "tearing"

[2015-08-02 12:01] craftworkgames commented on #8
The [very first NuGet package](https://www.nuget.org/packages/MonoGame.Extended/) has been published. It needs a bit more testing before making an official announcement though.

[2015-08-02 19:00] WardBenjamin commented on #7
@craftworkgames can you please assign this issue to me? I just found out that I can't do that myself.

[2015-08-02 20:43] WardBenjamin commented on #7
@craftworkgames I'm heading out on vacation again today; I'll probably have PC/Wifi access this week though, so there'll most likely be more commits.

I've put quite a bit of work into the `feature-sprite` branch on my fork. Right now it's a bit broken for some reason that I haven't figured out yet, but it should only take a little bit more work.

[2015-08-02 22:23] craftworkgames commented on #7
Done. I was hoping you could add yourself, but I can't see a Trello setting for that.

Looks good so far. How are you testing it? I'd like to start creating Demos #9 for each feature.

I'll do that now

[2015-08-02 22:45] craftworkgames opened #12 "Source art assets"
During development of features we need art. Sometimes the we create the are ourselves, but most of the time the art is sourced from another place (e.g. [GameDevMarket.net](http://www.gamedevmarket.net?ally=yJRl98tX)).

Firstly, it's important that the original author of the art is credited accordingly. The way I've been doing this is adding a link to the source to a `read-me.md` file in the Conten

[2015-08-02 23:00] craftworkgames opened #13 "Texture atlas loading using TexturePacker"
One feature I've found useful in the past is the ability to pack all my sprites into a texture atlas. Usually I use [Code and Web's Texture Packer](https://www.codeandweb.com/texturepacker) for this.

They do have [official support for MonoGame](https://www.codeandweb.com/blog/2014/08/08/animation-made-easy-in-monogame-with-texturepacker) I believe but I find it easier to just use the generic JSON

[2015-08-03 08:27] craftworkgames opened #14 "Input listeners for event driven input"
The standard way to receive input using MonoGame / XNA is polling the state of the input devices during each `Update`. This works well in some situations, depending on what type of game you're making, but other times it's nice to be able to listen for input *events* instead.

LibGDX has a good set of [input listeners](https://libgdx.badlogicgames.com/nightlies/docs/api/com/badlogic/gdx/scenes/scen

[2015-08-03 08:45] craftworkgames opened #15 "Sprite animation using sprite sheets"
We've all seen 2D animation using the [frames of a sprite sheet](https://github.com/libgdx/libgdx/wiki/2D-Animation).

This is reasonably easy to implement but we want to design a clean and consistent API that works well with other types of animation (e.g. skeletal and transitions). Also, be careful not to leak the animation code into the base `Sprite` classes.

[2015-08-03 11:55] craftworkgames opened #16 "[Spine] Content importer for Spine 2D skeletal animations"
[Spine](http://esotericsoftware.com/) is a fantastic 2D skeletal animation tool. They already have an [official MonoGame runtime](https://github.com/EsotericSoftware/spine-runtimes/tree/master/spine-monogame) but I still think it would be a good fit for MonoGame.Extended.

Of course, there's no need to re-invent the wheel, especially if it's working, so it may just be a thin wrapper or an addition

[2015-08-03 12:01] craftworkgames opened #17 "Spriter 2D skeletal animations"
[Spriter](http://www.brashmonkey.com/) is another 2D skeletal animation tool (see #16). I don't think there's official support for MonoGame. A quick google revealed [this](http://brashmonkey.com/forum/index.php?/topic/3057-monogame-implementation/)

Ideally it would be good if the animation API is shared between Spriter and Spine where it makes sense. Although, I suspect most people will be using

[2015-08-03 12:02] craftworkgames commented on #16
This is related to #17

[2015-08-03 12:10] craftworkgames opened #18 "Transition animations using a fluent syntax"
A while ago I worked on a project that had a fluent syntax for short animations in code. They are not as powerful as Spine #16 or Spriter #17 but they are very handy for creating quick animations and effects.

They syntax looked something like this:

    var transitionParameters = new TransitionParameters(1.0f, EasingFunctions.CubicEaseInOut);
    Animations
        .CreateSequence(playButton)

[2015-08-03 12:13] craftworkgames opened #19 "Particle system"
A particle system like the [Mercury Particle Engine](http://matthew-davey.github.io/mercury-particle-engine/) seems like a good addition for completeness.

[2015-08-03 12:25] craftworkgames opened #20 "GUI system"
Just about every game needs some sort of GUI these days. There are a few old [XNA GUI projects](http://gamedev.stackexchange.com/questions/42142/gui-library-for-monogame) floating around but there seems to be a gaping hole the market particularly with GUI's designed for mobile devices.

This isn't the first time I've attempted to make a GUI system for MonoGame either. There's still an [old fork](h

[2015-08-03 12:31] craftworkgames opened #21 "Scene graphs"
For completeness I'm going to add [scene graphs](http://stackoverflow.com/questions/5319282/game-engines-what-are-scene-graphs) to the list.

I'm not convinced they are a top priority, as we may get similar functionality out of the Spine #16 or Spriter #17 enhancements but they are a nice to have.

[2015-08-03 12:35] craftworkgames commented on #7
@WardBenjamin If you get any spare time can I ask you to take a look at the list of [github issues](https://github.com/craftworkgames/MonoGame.Extended/issues) I've raised add any comments you think are relevant.

Obviously we won't get around to implementing everything all at once, but I wanted a place to discuss them while we work on other things.

[2015-08-03 12:43] WardBenjamin commented on #20
I wrote a simple, basic GUI system for a prototype of mine a while ago, but adapting a more full-featured system would probably be better for us. Honestly I think a major dependency of our GUI will be an actually working Event-based input system, especially for buttons, text input, and similar elements.

[2015-08-03 12:59] craftworkgames commented on #20
Yes that's true. The GUI shouldn't be the first thing we try to tackle. It will be built upon the foundations of the other features.

[2015-08-03 15:25] ClassicThunder commented on #14
@craftworkgames Hmm thats an interesting implementation. I've simply exposed the events and let the user subscribe to them. The LibGDX one seems to depend on there being a scene hierarchy though I like the idea of subscribing a class who's methods you override. Seems much cleaner than having multiple input instances or unsubscribing/resubscribing events.

Also I intent to add touch events using an

[2015-08-03 15:36] ClassicThunder commented on #19
I ran across this a while back and it is under the MIT license: [Glide by jacobalbano](https://bitbucket.org/jacobalbano/glide/src/4f1648dcf2cb428ebdd0bef1a43b08e37bc3ee6d?at=default)

[2015-08-03 20:01] ClassicThunder commented on #20
I think it is dependent on the event driven library and the texture packer library. The scene graph would be nice but isn't necessarily needed.

[2015-08-03 20:39] ClassicThunder commented on #18
I ran across this a while back and it is under the MIT license: [Glide by jacobalbano](https://bitbucket.org/jacobalbano/glide/src/4f1648dcf2cb428ebdd0bef1a43b08e37bc3ee6d?at=default)

[2015-08-03 22:38] craftworkgames commented on #14
Yeah, I quite like a lot of the things they have done with LibGDX. Obviously not everything translates well into C# but subscribing to a class has some advantages over event subscription.

We could probably work around MonoGame's TextInput if it's buggy, although, we should at least report the bug if it's not already.

I'm not familiar with Apples touch library but the code you posted looks reason

[2015-08-03 23:40] craftworkgames commented on #20
I agree. I added it just in case.

I'm not really sure how we go about prioritizing the work. I have setup a [Trello board](https://trello.com/b/Xi6Rfqhb/monogame-extended) if that helps. I don't want to get too bogged down by formalities though.

The main reason I created all these issues is to give a high level overview of thoughts and a place to discuss things.

[2015-08-04 03:42] WardBenjamin commented on #10
I personally agree that there should be no more additional DLL's to manage apart from these two unless we add some feature-set (outside of the content DLL) that uses code external to our project or depends on such code, in which case it should be separated into it's own optional DLL. This would maintain a very clean DLL structure, rather than having to worry about a DLL for each and every section

[2015-08-04 05:41] craftworkgames commented on #10
Thanks @WardBenjamin. I can see how this issue might cause some polarity so I'm hoping a few more people weigh into the discussion.

[2015-08-04 18:24] WardBenjamin opened #22 "Can't build sandbox project on Linux"
I expected some fiddling with the dependencies and such, but I also ran into an interesting issue with the MonoGame Content Builder and the Sandbox csproj. Since you don't install the Pipeline the same way on Windows as you do on Linux, you cannot rely on importing the `.targets` file, and then cannot build content the cool new way with just the content project, and instead have to do it manually.

[2015-08-04 18:55] WardBenjamin commented on #22
I found a way to fix this (it's not MonoGame's fault, they don't have a proper installer in release yet.

Could we talk about a blog post about this? I am going to write something up, and (1) I don't currently have a blog released to talk about it in, and (2) your blog gets a lot of traffic interested in MonoGame.

[2015-08-04 22:22] craftworkgames commented on #22
@WardBenjamin Sure. If you write something up I'll put a guest post on my blog. I use [MarkdownPad](http://markdownpad.com/) to write the posts so if you want to do the same it'll make it easier for me to format it before posting.

Working on MonoGame.Extended seems to be exposing a few bugs and shortcomings with MonoGame. I think it's our responsibility to report these back to the MonoGame team a

[2015-08-04 22:44] craftworkgames commented on #11
So I have very basic support for Tiled maps working but there's still a lot of things to do. The [TMX map format spec](http://doc.mapeditor.org/reference/tmx-map-format/) is a good reference. Here's a list of things that haven't been implemented yet.

 - Support for isometric and staggered orientations
 - Background color of the map
 - Render order: The order in which tiles on tile layers are rend

[2015-08-04 22:54] craftworkgames opened #23 "tIDE map editor support"
[tIDE](http://tide.codeplex.com/) is a fully-featured, .NET-based tile editor that allows level designers to easily create content for tile-based games. tIDE supports a custom XML-based map format, a custom binary format (tbin), Tiled TMX, Mappy FMP and Flixel. Additional formats may be included via the .NET-based plugin system within tIDE.

This is somewhat related to #11

[2015-08-05 00:08] WardBenjamin commented on #22
@craftworkgames I wrote something up earlier today that I can send to you when I next get access to my laptop. Unfortunately, I don't have access to a windows machine that I can install MarkdownPad on, though I'll definitely do what I can with tools available for Linux that I have.

I do have a machine that can run XNA at home, I believe. I'll check it out when this vacation is over.

[2015-08-05 04:52] WardBenjamin commented on #22
So.... I don't have an email for you so here's the post!

Unfortunately Github is going to render links/etc and you won't be able to see the raw text, so you'll have to do that manually again :/

[2015-08-05 04:53] WardBenjamin commented on #22
Monogame's cross-platform development capabilities are no longer as lacking as they used be, but they still have some odd issues every once and a while. In particular, when working on Linux distros such as Ubuntu, you will find that MonoGame lacks an installer, though they offer compiled binaries and a working version of the Pipeline tool. While this works fine, you can sometimes get some peculiar

[2015-08-05 06:27] craftworkgames commented on #22
@WardBenjamin Thanks.

This is fine. I can actually edit the post and see the raw Markdown anyway.

Do you have a title for the post?
Would you like me to link to your twitter account or anything?

I'll see if I can find time to post it on the blog tonight.

[2015-08-05 07:46] craftworkgames opened #24 "Testing Trello IFTTT integration"
This is just a test issue. It will be deleted shortly.

[2015-08-05 07:52] craftworkgames commented on #24
Seems to work.

[2015-08-05 07:52] #24 closed

[2015-08-05 11:56] craftworkgames commented on #22
@WardBenjamin I'm ready to post it on the blog as soon as I have a post title.

[2015-08-05 11:59] WardBenjamin commented on #22
I didn't really this think about a title..... How about "Automatic content building on Linux"?

If you would like, I'm @TheProgramm3r on Twitter and @WardBenjamin here.

[2015-08-05 12:06] WardBenjamin commented on #22
@craftworkgames huh, looking at the titles on your blog, maybe "MonoGame" should be added to the title.... You can decide where I guess. There's a few places that it could go.

[2015-08-05 12:14] craftworkgames commented on #22
@WardBenjamin It's up. Let me know if there's any issues.

http://dylanwilson.net/automatic-content-building-on-linux-with-monogame

[2015-08-05 12:16] craftworkgames commented on #22
I do this so that it makes it easier to find in Google. At least, that's the theory. Not sure how well it working in practice.

[2015-08-05 13:09] WardBenjamin commented on #22
Looks good, and thanks for posting this for me!

I'm going to head over to the MonoGame page and figure out where they are on the Linux installer so that I can yell at them about including the `.targets` file if they have not. I have a feeling that once the installer works, quite a few issues will be fixed.

[2015-08-05 13:31] #22 closed

[2015-08-05 13:35] WardBenjamin opened #25 "Monogame versions outdated"
When working on my Linux system, I had some very odd issues with missing SDL system libraries at runtime, while my other Monogame projects work fine. Hunting through the dependencies, this is because we are compiling against MonoGame v3.1.2.0 rather than the latest,  v3.4.0.459. Why is this? Is the PCL outdated?

Update: Looking at Nuget, I see that this is the case. Damn, that's an issue. Linux h

[2015-08-05 13:38] WardBenjamin commented on #25
@craftworkgames Pinging you before I close this so that you see it.

[2015-08-05 13:51] craftworkgames commented on #25
So this is only an issue on Linux then? Contact the maintainer of the NuGet package and ask what the deal is. Maybe you can rebuild it yourself.

[2015-08-05 14:03] WardBenjamin commented on #25
This is technically an issue for all platforms, since you are restricted to using MonoGame v3.1 instead of v3.4. I'll definitely ask the MonoGame team about this

[2015-08-06 02:55] WardBenjamin commented on #25
Welp... this is an issue. I haven't completely verified this yet, but I'm going to try and use Piranha to build a PCL for Monogame 3.4. Hopefully we can update all of the dependencies then.

[2015-08-06 04:16] craftworkgames commented on #25
Maybe we can automate the process on the build system. That could be a really good thing anyway. I've thought about doing this for other libraries, like a Farseer Physics PCL.

[2015-08-06 04:22] WardBenjamin commented on #25
That's definitely possible.

Anyway, right now I'm trying to get Piranha to work on my system (Ubuntu 14.04) and it hasn't been playing nice with Mono so far. Having an odd issue with `[ERROR] FATAL UNHANDLED EXCEPTION: System.IO.DirectoryNotFoundException: Directory '/Library/Frameworks/Mono.framework/Versions/Current/lib/mono/xbuild-frameworks' not found.` I haven't been able to find why it's se

[2015-08-06 04:30] craftworkgames commented on #25
I'm at work (my day job) at the moment so I can't really help. Sorry. Also, I don't have any Linux distros installed.

I know @DDReaper had a lot to do with building the MonoGame PCL. Maybe he can shed some light on it.

 The way I understand it, the PCL is an just an empty shell to provide the interfaces to the real DLL that gets used. This is called the "bait and switch" method. I don't really u

[2015-08-06 04:33] WardBenjamin commented on #25
I don't know why it would, but if I can get this PCL to compile I'm going to find out; I wouldn't be surprised if that was the issue. I know the interface changed a little bit.... there's 2 major versions between the PCL currently and the up-to-date Monogame package.

[2015-08-06 04:37] craftworkgames commented on #25
I'd be very surprised if the interface changed in any code that we are actually using.

This whole thing kinda reminds me of [this issue](https://github.com/craftworkgames/FarseerPhysics.Portable/issues/4) which, unfortunately, we didn't actually get to the bottom of.

[2015-08-06 05:52] WardBenjamin commented on #25
As per https://github.com/mono/MonoGame/issues/4056, I have found a way to compile MonoGame v3.4 as a PCL, using Piranha. Now, the dependencies can be updated to the latest version, and this does in fact fix my odd dependency issue.

[2015-08-06 06:04] craftworkgames commented on #25
If it's not too much trouble can you keep the PR's separate?  If it is a hassle, don't worry about it.

I asked on https://github.com/mono/MonoGame/issues/3944 if there has been any progress on the PCL build automation. If they haven't already done it, maybe we can help get it into the next release of MonoGame.

[2015-08-06 06:06] WardBenjamin commented on #25
Yeah I can keep the PR's separate. I'll go make one specifically for the PCL stuff now.

[2015-08-06 15:06] WardBenjamin commented on #25
Whoo it works! Closing as per https://github.com/craftworkgames/MonoGame.Extended/pull/26

[2015-08-06 15:06] #25 closed

[2015-08-06 15:09] WardBenjamin opened #27 "Platform-based build configurations"
Hey Dylan,

In some of my projects, I have created different build configurations for each platform. This means that multiple versions of MonoGame.Framework are referenced via Nuget, and only the platform-specific one that is required by the build configuration is actually used.

Would you be interested in this for the sandbox project? It's not too much work for me, and it would save me hacking to

[2015-08-06 15:13] ClassicThunder commented on #25
Out of curiosity what about using the new shared projects feature in VS 2013 and Xmarian?

The idea is the code reuse is based upon the source code, a shared project references no external libraries or frameworks of its own but uses the leverages the ones in the project it is linked to. This way we are using whatever version of MonoGame the developer is using.

Also theoretically this would make t

[2015-08-06 17:17] ClassicThunder commented on #2
I've been doing some research into the best ways to deploy the project and I think we should convert it into a shared project or offer a shared project in addition to the nugets.

[Info about Shared Projects](http://geertvanhorrik.com/2014/06/21/unknown-beauty-shared-projects-net/)

Pros:
The project would work with any version or platform of MonoGame, FNA, or XNA

Cons:
Requires at least VS 2013

[2015-08-06 17:46] WardBenjamin commented on #2
This right here is the big annoyance here, I feel. I already have a ton of different projects sitting in my workspace, and I would have to maintain this and check for updates manually, which Nuget does for you.

While this is true, now that I know how, it is trivial to make PCLs for any of those libraries, then to compile MonoGame.Extended against that. We could even provide directions and a copy

[2015-08-06 18:00] ClassicThunder commented on #2
I see this as a huge obstacle for adoption of the library. The second it is more complicated than right click add nuget or right click add project its going to deter people from trying it out. Personally I hate dealing with automated builds, build tools, 3rd part deployment solutions, etc...

Nothing is more simple than a project you can add to the solution that works irregardless of platform or X

[2015-08-06 18:05] WardBenjamin commented on #2
I'm sorry but you are missing the point of this. The point is that we can easily maintain nuget packages for XNA (which will never need updated), MonoGame (whatever versions), FNA (whatever versions), etc, while ALSO allowing users to generate a MonoGame.Extended PCL relying on any version of these that supports the required features.

If you say so.... I think offering more than one method is foo

[2015-08-06 18:15] ClassicThunder commented on #2
Fair enough. Personally I dislike Nuget and have avoided it. Imo nothing better than the source code as part of my solution. The source code is the best documentation and if I find a bug I can fix it myself and even submit a pull request to fix it for everyone else.

[2015-08-06 22:05] craftworkgames commented on #27
I think it's a very good thing to have everything work out of the box for everyone. I don't want you to be hacking together csproj files and editing references all the time. That sux.

On the other hand, I'm not entirely convinced that having multiple people working in the sandbox project is going to scale very well. At this stage I'm not sure how to solve that problem. We definitely need a way to

[2015-08-06 22:50] craftworkgames commented on #2
First, we are not getting rid of the NuGet packages. Many people like them and it's the easiest way for people to use MonoGame.Extended without needing to know anything else.

If the problem is supporting FNA or XNA we should also provide NuGet packages for those. Perhaps they are called FNA.Extended and XNA.Extended respectively. I would be comfortable doing this if we can completely automate the

[2015-08-07 00:03] WardBenjamin commented on #27
I don't have a repo that you can look at, since the project isn't open-source, but I can paste some info in here. Here's what the references inside of `foobar.csproj` might look like:

    <ItemGroup>
      <Reference Include="System" />
      <Reference Include="System.Data" />
      <Reference Include="System.Data.DataSetExtensions" />
      <Reference Include="System.Xml" />
      <Reference In

[2015-08-07 00:05] WardBenjamin commented on #27
Finally, each project needs to have a normal packages.config file, such as this one:

    <?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="MonoGame.Framework.Linux" version="3.4.0.459" targetFramework="net45" />
      <package id="MonoGame.Framework.WindowsGL" version="3.4.0.459" targetFramework="net45" />
      <package id="Newtonsoft.Json" version="7.0.1" targetFramework=

[2015-08-07 00:24] craftworkgames commented on #27
Oh understand it now, we do something similar at work. So by manually editing the project file you can conditionally change the project references based on the solution platform.

This sounds pretty reasonable, we just need to document it somewhere. Perhaps a README in the project since it requires manually editing the project files to maintain.

The only change I would make is to make use of the

[2015-08-07 01:44] WardBenjamin commented on #27
Huh, I never thought to do it like that. The way that I suggested was mostly autogenerated by VS originally, and it worked so I never thought to change it.

Yeah I can do this once I actually get things to run on my end. There's no more issues with MonoGame itself, but the content stuff never actually seems to build, even with the properties properly set on the mgcb file. I've opened up an issue o

[2015-08-07 01:50] craftworkgames commented on #27
Great. Thanks for all your help so far. It's nice having a Linux guy on the team.

Yeah, it sux that they are lagging behind on Linux. Hopefully the issues will only be temporary though.

[2015-08-07 02:35] WardBenjamin commented on #27
Yeah I agree. One of the MonoGame guys said they would take a look after one of his PR's was merged (something to do with the installer). That probably means it'll take a while.

[2015-08-07 03:09] craftworkgames commented on #27
Should probably get into the habit of linking to the issue for future reference.

[2015-08-07 03:16] WardBenjamin commented on #27
Yeah, not a bad idea. Here's a link: https://github.com/mono/MonoGame/issues/4059

[2015-08-07 03:16] WardBenjamin commented on #27
Whoops :P

[2015-08-07 03:18] craftworkgames commented on #27
@WardBenjaminWardBenjamin reopened this a minute ago
Whoops :P

Lol. It happens.

[2015-08-07 03:59] ClassicThunder commented on #14
I've added very basic touch events to [my input library](https://github.com/ClassicThunder/MonoGame-EventDriven-Input) Interesting changes [here](https://github.com/ClassicThunder/MonoGame-EventDriven-Input/commit/e33abf82c7d8d61c12cbbd7f4d8d9daa8cc5a24d). Worked on my Mac, iPhone 5s, and Windows 10 pc so I'm fairly content with the testing.

I think its at a good spot for a version 1 release. Nic

[2015-08-07 04:08] craftworkgames commented on #14
Looks good as a first version.

If you could put the code in a folder / namespace, something like MonoGame.Extended.InputEvents or something that'll be a good place to start.

I have some idea's of my own that I'd like to incorporate but I think the easiest way is to start with what you've done and keep iterating on it.

[2015-08-07 04:09] ClassicThunder opened #28 "Should we support FNA?"
Since both MonoGame and [FNA](http://fna-xna.github.io/) strive to be accurate to the original XNA API any code written for one should work for all of them. I don't know how much work it would be but I think it would greatly expand out potential user base.

Related to [Splitting the project into different DLLs and NuGet packages](https://github.com/craftworkgames/MonoGame.Extended/issues/10) as it

[2015-08-07 04:16] craftworkgames commented on #28
Any idea what the size of the user base is? Based on the stars on github it looks to be about 10% of MonoGame's.

To be honest, I don't think it would be a *lot* of work. But I do question if it's the right time to do it. MonoGame.Extended is only about 2 months old and is far from a mature project. Adding any extra overhead to the development cycle now could slow us down for not much gain.

That

[2015-08-07 15:53] ClassicThunder commented on #28
Honestly not sure, the game list released using it is pretty impressive though. Terraria and Rouge Legacy being 2 of the big ones.

Keeping shared project up to date with all of the files in the project should be the extent of the maintenance. I'll experiment more over the weekend but I was able to get my input library to run against both XNA and FNA by simply loading up the templates and adding t

[2015-08-08 12:00] craftworkgames commented on #28
I've only had a very brief look into Shared Projects myself but if I'm understanding correctly it could work something like this:

Shared Project - contains ALL of the code.
MonoGame.Extended - contains very little, but references the SP.
FNA.Extended - contains very little, but references the SP.

When the projects are compiled you would end up with 2 output assemblies, one compiled for MonoGame

[2015-08-09 01:28] ClassicThunder commented on #28
Sounds correct. Basically the shared project contains the code while the MonoGame.Extended and FNA.Extended projects define the references for generating the nugets.

Okay then ignore that bit. Protobuild is the only method I know of for generating dealing with cross platform mono projects so I just assume MonoGame.Extended was using it.

[2015-08-09 03:56] WardBenjamin commented on #27
Well.... so here's the deal. I can build everything that doesn't require the Monogame custom build .targets file from MonoDevelop (the C# editor I use on Linux), however I cannot build content, with one caveat: if I use xbuild on the solution from the command line it builds fine. It seems that MonoDevelop does not support custom .targets files... I may have to amend that blog post I wrote.

[2015-08-09 04:09] WardBenjamin commented on #27
I'm also having some issues with the .targets file in the first place... it refuses to be used to build the .mgcb file, while the MGCB tool works correctly.

[2015-08-09 10:38] craftworkgames commented on #28
I installed Visual Studio 2015 today and took a closer look at how Shared Projects work. They certainly do make code sharing between projects a lot easier.

MonoGame.Extended is not exactly cross platform per se, it leverages the cross-platformness of MonoGame. Thanks to the work done by @DDReaper and the MonoGame PCL.

Anyway, it sounds like we have a way to support FNA. Although, I had trouble c

[2015-08-09 10:41] craftworkgames commented on #27
At least you have a workaround for the time being.

[2015-08-11 17:31] ClassicThunder commented on #28
Yeah getting it up and running is not as simple as with MonoGame. What OS are you trying to get it running on?

[2015-08-12 10:37] craftworkgames commented on #28
Windows 10. Although, it shouldn't be any different to Windows 8.

The issue was getting the dependencies sorted. Tbh, I didn't put in much effort.

[2015-08-12 14:39] WardBenjamin commented on #27
So... I'm alive again. I have access to my Win8.1 box so I can try to get this sorted. If you are manually adding dependencies, it seems to work as-is with the configuration stuff that I've written, however the issue with the .targets file is still... an issue. Hopefully we can get a workaround somewhere inside of the MonoGame plugin at least.

[2015-08-12 23:56] WardBenjamin commented on #27
Welp. Seems like we won't be able to add custom platforms. The only supported ones are x86, x64, ARM, AnyCPU, and Mixed Platforms. I can still do the configurations like I illustrated before... what's your opinion on what I should do?

[2015-08-13 02:39] craftworkgames commented on #27
No problem. Thanks for investigating it. Just do them however you think it works best.

[2015-08-16 12:57] craftworkgames commented on #10
I've been thinking a bit about how to structure the project into different namespaces. The approach I've  been tossing around is to break the code up into *feature* based namespaces. For example:

`MonoGame.Extended.Sprites`
`MonoGame.Extended.BitmapFonts`
`MonoGame.Extended.ViewportAdapters`
`MonoGame.Extended.InputListeners`

etc.

This approach works pretty well for the most part. I'm not sure

[2015-08-17 14:17] cra0zy commented on #2
Would https://github.com/mono/MonoGame/issues/4082 be ok for this lib?

[2015-08-17 14:38] craftworkgames commented on #2
Yes, it seems like a good fit for this library. I remember seeing something similar in the Farseer physics debug renderer.

Please raise a new issue to discuss the details. I'll take a closer look tomorrow. Going to bed now.

[2015-08-17 17:10] cra0zy opened #31 "API for drawing basic shapes"
One thing that always bugged me about XNA is that it doesn't have a way of drawing basic shapes very easily.

libgdx for example has ShapeRenderer for that: https://libgdx.badlogicgames.com/nightlies/docs/api/com/badlogic/gdx/graphics/glutils/ShapeRenderer.html

[2015-08-17 17:25] ClassicThunder commented on #31
I've used https://bitbucket.org/C3/2d-xna-primitives/wiki/Home which was written by @jcpmcdonald who (at least used to be) an active member of the GDSE community. He might be down for allowing the inclusion of it.

[2015-08-17 17:26] ClassicThunder commented on #14
Just as an update I should have a pull request ready by the end of the week with the input library added in.

[2015-08-17 17:45] WardBenjamin commented on #31
I've pinged him about this issue in the GDSE chat room, hopefully he'll respond. His account was last active about 5 days ago, so hopefully he'll log in and see my message sometime soon.

[2015-08-17 18:01] WardBenjamin commented on #7
I'm having some issues figuring out exactly how to use the TextureRegion class correctly. I'll push current progress to my fork, but this might take a bit of debugging to figure out where my Draw extension is going wrong.

[2015-08-17 18:10] WardBenjamin commented on #7
Also, (kind of related to #31), John McDonald has put out this clever bit of code: https://bitbucket.org/jcpmcdonald/sprite-maker/wiki/Home as well as a loader for XNA: https://bitbucket.org/jcpmcdonald/xna-sprite-lib/wiki/Home. They are quite interesting.

[2015-08-17 19:19] jcpmcdonald commented on #31
Interesting. The library a friend and I wrote a long while back adds extension methods to the SpriteBatch that allows for easy drawing of primitive shapes. Here's the library: https://bitbucket.org/C3/2d-xna-primitives/wiki/Home  And here's a simplified list of extensions it adds:

DrawArc
DrawCircle
DrawLine
DrawRectangle
FillRectangle
PutPixel

It is published under the zlib licence, and I think

[2015-08-17 23:40] craftworkgames commented on #14
Awesome, looking forward to it. I've been working on getting the 0.2 release ready. I'll be sure to include this in it.

[2015-08-17 23:43] craftworkgames commented on #7
No problem. I'm more than happy to help figure this one out. I've been getting ready to do the 0.2 release. I'd like to include basic Sprite support in it, even if it's only a start.

[2015-08-17 23:57] craftworkgames commented on #31
Thanks @jcpmcdonald. With your permission I think this would be a great addition to MonoGame.Extended. The API looks very clean. I really like the simple nature of sprite batch extension methods.

[Farseer Physics](https://farseerphysics.codeplex.com/SourceControl/latest#DebugViews/DebugView MonoGame/PrimitiveBatch.cs) also has some good ideas in their debug renderer related to this.

Along with t

[2015-08-17 23:59] #8 closed

[2015-08-18 01:10] craftworkgames opened #32 "We need a logo"
The icon on the [NuGet package](https://www.nuget.org/packages/MonoGame.Extended/) is currently the boring default.

This is a call out to get some logo designs for the project. The [MonoGame logo](https://github.com/Mono-Game/MonoGame.Logo) might be a good starting point. Although, we should ask permission first before using their logo in ours.

Alternately, we could create something unique and i

[2015-08-18 11:36] WardBenjamin commented on #7
Sounds good.

My initial implementation simply using textures seemed to work correctly, but with the TextureRegion implementation.... not so much. I'll try to do some more debugging today if I have time but I just reinstalled Windows 8 and Arch, so I don't have many tools available yet.

[2015-08-18 12:21] craftworkgames commented on #7
Okay. How do you want to do it then? Would you like to do a PR and after the merge I'll start working on it?

[2015-08-18 12:23] WardBenjamin commented on #7
We can do that, I guess. My code compiles and runs fine, and shouldn't break anything else. I'll update it with the current changes from master and open a PR.

[2015-08-18 12:24] craftworkgames commented on #7
Sweet. I'll be waiting, I've got a few hours to spare.

[2015-08-18 13:01] craftworkgames commented on #7
I had to fiddle with it a bit but I got the code running and I can see the stump. I'll start doing some refactoring to get texture regions working.

[2015-08-18 13:10] WardBenjamin commented on #7
Sweet! I have to head to work but I'll be around every once and a while to see what's up. Cya then!

[2015-08-18 15:50] ClassicThunder commented on #32
Here's my very amateur attempt ![MGE](http://i.imgur.com/ayaKsZI.png)

[2015-08-18 18:16] WardBenjamin commented on #27
By the way, this will eventually be obsolete since MonoGame is moving towards a unified DesktopGL platform rather than WindowsGL, Mac, and Linux. This (I believe) will be a part of MonoGame 3.5.

[2015-08-18 23:01] craftworkgames commented on #27
That's exciting.

I'm going to close this issue. If we come up with a different way to have a sandbox project on multiple platforms open a new issue.

[2015-08-18 23:01] #27 closed

[2015-08-18 23:05] craftworkgames commented on #32
@ClassicThunder I like the idea, but it will need to fit neatly into a square. Great first draft though.

[2015-08-19 19:25] jcpmcdonald commented on #31
My blessing is given.

[2015-08-19 21:57] craftworkgames commented on #31
I could have really used a debug renderer last night when I was working on bounding rectangles for Sprites :)

I think we should get this into the 0.3 release.

[2015-08-19 22:03] cra0zy commented on #31
@craftworkgames I was thinking on working on this tomorrow(it's midnight at my timezone), also I wanted to setup an API that looks like libGDX one, since I liked using it...

If it's ok with you I think I could get this ready for 0.2 release.

[2015-08-19 22:29] WardBenjamin commented on #31
@cra0zy Yeah, go ahead and work on this. If you finish it by the 0.2 release we can include it, if not we can include it in the next release for sure.

[2015-08-20 01:27] craftworkgames commented on #31
@cra0zy By all means start working on it. I'd like to keep the releases short and regular (weeks not months) so it doesn't really matter if it makes it into 0.2 or 0.3. I'd rather a small amount of polished code over a large amount of buggy code so take your time.

I like LibGDX too. I use it as a reference a lot, but be aware that the Java paradigm doesn't always fit C# so we shouldn't mimic it e

[2015-08-20 14:22] WardBenjamin commented on #7
Closing since I know that @craftworkgames got my code to work and refactored it.

[2015-08-20 14:22] #7 closed

[2015-08-20 14:29] craftworkgames commented on #7
Yep. I wasn't sure if I missed anything but you're right. Let's close the feature for now and raise a new one if something else comes up. I'm keen to get the 0.2 release out.

[2015-08-21 03:25] craftworkgames commented on #14
Hey @ClassicThunder How are you going with this?

[2015-08-22 02:47] ClassicThunder commented on #14
Hey sorry for the delay, had some issues with the nuget packages and during my triple checking I found a bug that needed fixing.

Modified the sandbox to use new code. Let me know if there is anything that needs to be changed/cleaned up/

[2015-08-22 11:30] craftworkgames commented on #14
Thanks @ClassicThunder. Everything looks good so far. If you don't mind I'm going to refactor some of the API to be more consistent with the rest of the library plus sprinkle in a few ideas of my own.

Great work.

[2015-08-23 10:38] craftworkgames commented on #32
I came up with something. It's intended to look a little like the MonoGame logo for familiarity but different enough that's it's obviously a different project.

![image](https://cloud.githubusercontent.com/assets/3201643/9427873/19fa11ce-49d6-11e5-8379-5708ca38aedf.png)

@tomspilman are you okay with this? I don't want to step on any toes here. If you'd rather the logo look completely different I'

[2015-08-23 10:48] craftworkgames commented on #32
And the NuGet version.

![image](https://cloud.githubusercontent.com/assets/3201643/9427914/47df8284-49d8-11e5-8601-d33941ff578b.png)

[2015-08-23 21:55] tomspilman commented on #32
Sure that is fine with me

@KonajuGames ???

[2015-08-24 03:15] KonajuGames commented on #32
That is fine with me as well.

[2015-08-24 03:18] craftworkgames commented on #32
Thanks. I'll be publishing the 0.2 release with the new logo shortly :smile:

[2015-08-24 17:04] cra0zy commented on #31
So in the end I didn't have a lot of time to work on anything last few days....

Anyway today I started working on this, and for now I have implemented DrawLine and DrawRectangle: https://gist.github.com/cra0zy/4681d5b782e214fa266c

Post any bonus methods or any modifications you want me to add to them, in the meantime I'll add DrawPolygon and DrawCircle methods in the similar way.

[2015-08-24 23:11] #32 closed

[2015-08-24 23:13] craftworkgames commented on #10
I'm pretty happy with the way the project is structured in the version 0.2 release. This is always open for discussion, but I'm going to close this issue.

[2015-08-24 23:13] #10 closed

[2015-08-25 11:29] craftworkgames commented on #14
As you probably noticed, I made quite a few changes to the input listeners before the 0.2 release. Here's a summary of what I did and my thoughts behind the changes:

 - **Flattened the folder structure** to keep it consistent with the rest of the project, and to be honest I was having trouble finding my way around.
 - **Merged the Shared abstract and MonoGame classes** because it doesn't really m

[2015-08-25 11:29] #14 closed

[2015-08-25 11:43] craftworkgames opened #36 "Document how to build a MonoGame PCL"
Currently MonoGame.Extended depends on a custom build of the MonoGame PCL found in the [Dependencies folder](https://github.com/craftworkgames/MonoGame.Extended/tree/master/Dependencies). This seems to work pretty well and allows us to keep up to date without depending on the NuGet package, which unfortunately is a few versions behind.

@WardBenjamin You implemented this in #25 and #26. It occurre

[2015-08-25 13:13] WardBenjamin commented on #36
I can definitely do this. Where do you want it after I write it? It's a fairly simple process, and only requires a few steps, so I can list them here (at least until we have a better place).

Steps to generate a MonoGame PCL:
 - Clone the desired MonoGame version
 - Run protobuild and generate the Windows versions of MonoGame
 - Build MonoGame WindowsGL
 - Run the Windows or Bash script in Third P

[2015-08-25 13:29] craftworkgames commented on #36
Maybe in a README.md with [the DLL in the Dependencies folder](https://github.com/craftworkgames/MonoGame.Extended/tree/master/Dependencies) perhaps. I tend to put documentation as close to the place people will be when they need it.

Please include links to whatever tools and repos are required.

There's no rush. I'd just like to have it there for future reference.

[2015-08-25 20:57] ClassicThunder commented on #14
Hmm I'll have to look over the changes a bit more, there never was an onclick event so not sure how you changed it to mouse up.

[2015-08-25 22:56] craftworkgames commented on #14
Right, there never was an OnClick event. In the PR you had these in the `Input` class

        public abstract event EventHandler<MouseEventArgs> MouseDoubleClick;+
        public abstract event EventHandler<MouseEventArgs> MouseDown;
        public abstract event EventHandler<MouseEventArgs> MouseUp;

And these in the `MonoGameMouseEvents` class

        internal event EventHandler<MouseEventArgs

[2015-08-25 23:22] craftworkgames opened #37 "The NuGet package incorrectly references the Pipeline DLL when targeting .NET 4.0"
The NuGet package contains 2 DLLs.

 - MonoGame.Extended.dll
 - MonoGame.Extedded.Content.Pipeline.dll

The intention is that the `MonoGame.Extended.dll` is referenced by the game and the `MonoGame.Extended.Content.Pipeline.dll` is referenced by the MonoGame Pipeline tool. If your game is targeting .NET 4.5 this works as intended. Only the first DLL is referenced by the game and the second DLL is

[2015-08-25 23:22] ClassicThunder commented on #14
[code]

That code is checking to see if two subsequent clicks are close enough together to qualify for the double click event. Using the WMQ it goes as below assuming the 2nd double click event is within the specified time and range. My point is this concepts of clicks is something you added in and didn't exist before.

down even
up event
double click event
up event

IMO on windows nothing beats d

[2015-08-26 02:14] craftworkgames commented on #14
This looks like what you are referring to?
https://msdn.microsoft.com/en-us/library/aa931259.aspx

Yes, I added a `Click` event but I didn't invent the concept of *clicks*. The goal for me was to mimic the behavior of the events in the WinForms or WPF frameworks.

Maybe the behavior of the WMQ is different to WinForms, but to me, your code for the `ButtonDoubleClicked` event seems to have a bug.

[2015-08-26 03:11] craftworkgames opened #38 "The MouseListener fires events in the wrong order"
The `MouseListener` is intended to mimic events of windows frameworks like WinForms and WPF. Currently, the events seem to be getting fired in a different order. This is not a huge problem, but I think we should fix it early while MonoGame.Extended is still young.

I just wrote a little WinForms application to prove it.

            MouseDown += (sender, args) => Trace.WriteLine(DateTime.Now + ":M

[2015-08-26 05:23] craftworkgames opened #39 "Camera2D bounding frustum returns a half-pixel offset"
Currently the `Camera2D.GetBoundingFrustum` method returns a half pixel offset value.

This was implemented intentionally as follows, but it seems a little odd to me.

        private Matrix GetProjectionMatrix(Matrix viewMatrix)
        {
            // Note: This projection matrix is the same one used inside of the MonoGame SpriteBatch by default.
            var projection = Matrix.CreateOrthog

[2015-08-27 22:33] craftworkgames opened #40 "Frames Per Second Counter"
I while ago I wrote an FPS counter and posted as [an answer to a question on stack overflow](http://stackoverflow.com/questions/20676185/xna-monogame-getting-the-frames-per-second). It could be a good addition to the library.

[2015-08-27 23:39] craftworkgames commented on #31
@cra0zy How's it going?

I just ran into this [old Microsoft PrimitiveBatch sample](http://xbox.create.msdn.com/en-US/education/catalog/sample/primitives) from 2007 in my travels. I don't know how useful it will be for the library, it uses the BasicEffect instead of a SpriteBatch internally. I just thought I'd link it here for another reference point.

[2015-08-27 23:44] craftworkgames opened #41 "[WPF] Support for WinForms and WPF embedding"
It occurred to me today that some people are going to [want to make their own levels editors](http://stackoverflow.com/questions/32259666/monogame-and-winforms-drag-and-drop-images) and things like when using MonoGame.

Embedding MonoGame into WinForms and WPF applications is a bit tricky. I've done it before, and there's certainly things that we might be able to add to the library to help. I'm no

[2015-08-28 00:10] craftworkgames commented on #13
Basic JSON support was implemented in v0.2. We may want to implement other features in the future but for now I'm closing this issue.

[2015-08-28 00:10] #13 closed

[2015-08-28 00:19] cra0zy commented on #31
This happened: http://blogs.unity3d.com/2015/08/26/unity-comes-to-linux-experimental-build-now-available/ , and I just had to stress test it... couldn't resist... can't resist... must stress test....

Anyway my current problems are:
 - drawing circles fast and efficient
 - filling non rectangle shapes... especially polygons.... those can be so confusing

[2015-08-28 00:26] craftworkgames commented on #31
Lol. Fair enough. You should write a blog post about how the result of the stress test. I'm sure others would find it interesting.

The [Farseer Physics Debug Renderer](http://farseerphysics.codeplex.com/SourceControl/latest#DebugViews/DebugView MonoGame/DebugViewXNA.cs) has pretty good implementations of these things.

[2015-08-28 10:59] cra0zy commented on #31
I don't plan on writing a blog post, but here is a list of bugs I found:
 - splash screen stays active in behind during project selection screen
 - save scene has "Open" button instead of "Save" button
 - color chooser dialog can't be resized, moved and it's height is wrong so you can't set RGBA color correctly
 - animation controller doesn't show correct context menu when you right click selected

[2015-08-28 12:34] craftworkgames commented on #31
That's quite a few. I guess that's what they mean by "experimental build".

[2015-08-28 20:42] ClassicThunder commented on #14
Sorry for the delay but this is the only thing I strongly disagree with. Please try double clicking an icon on your desktop. When does the double click register. Also pleas double clicking some text in this editor. When does the selection mode change?

[2015-08-28 21:49] WardBenjamin commented on #36
You can remove the "Help Wanted" tag for this by the way. I've been fairly busy but I'll get around to it.

[2015-08-28 23:54] craftworkgames opened #42 "MouseListener double click events should fire on mouse down rather than mouse up"
It seems there's some contention #14 about the correct behavior of double click events in the mouse listener.

The argument is about when the events should fire. In WinForms the double click event fires *immediately* before the mouse up event as can be seen when holding down the mouse button for a couple of seconds before the double click registers.

    26/08/2015 11:59:24 AM:MouseDown
    26/08/

[2015-08-28 23:56] craftworkgames commented on #14
Good point. That's certainly registering double click on mouse down in those cases.

It's not literally everything. I've already shown the behavior of WinForms is not consistent. There's also [this question](http://stackoverflow.com/questions/14731304/why-doesnt-doubleclick-event-fire-after-mousedown-event-on-same-element-fires) from VB.NET and [this page](http://www.quirksmode.org/dom/events/clic

[2015-08-28 23:58] craftworkgames commented on #36
Done.

[2015-08-31 19:27] killerrin opened #43 "Can I bring my Circle over?"
Awhile ago I wrote a Pull Request to get a circle into MonoGame, though I think general concensus is that it shouldn't be in the core library.

That said, since it looks like we are trying to create an official Monogame Extension Library, I was wondering if this would be something we would be interested in adding to the Extended Library?

Heres the Pull Request where you can see the files
https://

[2015-09-01 00:19] WardBenjamin commented on #43
Tentatively, I feel that this is some very good work and it should be included (perhaps in MonoGame.Extended.Utilities? I don't know). CC @craftworkgames

[2015-09-01 12:27] craftworkgames commented on #43
Sorry guys, I've been extra busy today.

Yes, I think this could be a good addition to the library.

I'd rather use more descriptive namespaces like `MonoGame.Extended.Shapes` or `MonoGame.Extended.Geometry` perhaps.

Pretty much everything in the PR looks really good. We just need to be careful to keep the API as  consistent as possible. For example, in our Sprite class there's a method called  [

[2015-09-02 23:31] ClassicThunder opened #44 "Text fields"
In my opinion text fields are ubiquitous enough that is is worth bringing them in separate of the more general GUI functionality. I created text fields as part of my [GUI Framework](https://github.com/ClassicThunder/MonoGameGui) and began the process of isolating the TextField from the other systems into a separate library [here](https://github.com/ClassicThunder/MonoGame-TextField).

The library

[2015-09-03 05:38] craftworkgames commented on #44
So if I understand correctly this is about the ability to select / edit text and being decoupling from the GUI framework?

How do you picture this working in terms of the API? In other words, what would the code look like to setup a basic "text field" in a game. How would it be different to using a "text box" from the GUI library?

I'd like to keep the releases short and regular. There's a [few th

[2015-09-03 17:09] ClassicThunder commented on #44
I image there being 2 classes.

TextField
SingleLineTextField

TextField would take a rectangle and max character size. The text wraps at the width and creates news lines as need. Lines that extend below the specified area are clipped be default but there would be a flag to disable clipping.

The SingleLineTextField takes in a top left point or a center left point and has a set height. This is bas

[2015-09-03 19:19] ClassicThunder opened #45 "Separating discussion from enhancement/bug tracking."
Hey I find holding proper conversations here on GitHub to be a of a pain and it pollutes the issues page. I think we should set up a forum (I recommend https://disqus.com/) for discussions.

For example we can figure out the best way to handle the text field API on disqus and the enhancement issue could document the agreed up specs for the implementation.

[2015-09-03 22:19] craftworkgames commented on #45
It has crossed my mind to have a discussion forum a couple of times, but I'm not sure if this is the best reason to do it.

Pros and cons of having a discussion forum:

### Pros
 - Perceived benefit of not polluting the issues page. To be honest I think I'd spend most of my time telling people not to discuss things here and people would discuss things here anyway.
 -  Conversations here on GitHub

[2015-09-03 22:44] WardBenjamin commented on #45
Personally, I'm fine with having discussion in the github issues. Since I'm watching the repo, I get a comprehensive list of different discussions in almost real-time, which is especially nice when I'm waiting for a response on something. Hosting cost is not something that you should really have to incur for a project that is at this stage... if anything we could host something on github pages. I

[2015-09-03 23:20] craftworkgames commented on #44
This looks like a reasonable set of requirements for some sort of TextField class.

What I still don't understand is what you mean by this:

Currently MonoGame.Extended doesn't have any GUI functionality, so I'm still trying to get my head around what that is going to look like in terms of classes and namespaces.

For example, do you picture a bunch of classes representing *controls* in a `MonoGam

[2015-09-03 23:46] craftworkgames commented on #45
I love github pages but I don't think you could host a discussion forum on them? Do you know of a way that could work?

[2015-09-03 23:50] craftworkgames commented on #43
@killerrin Are you going to start working on this or did you just raise it for discussion?

[2015-09-03 23:51] craftworkgames commented on #9
I've started working on some samples in a different repository.

https://github.com/craftworkgames/Samples.Extended

[2015-09-04 03:05] ClassicThunder commented on #44
My bad not separate as in a separate name space, but separate temporally. As in I can get it done way before I can get the basic of a gui system done, so I think its worth rolling out the text fields as soon as it is ready instead of waiting until the details of the rest of the GUI system is hashed out.

[2015-09-04 04:09] killerrin commented on #43
Nope, I'm going to submit the pull request. Was off the grid the past few days

[2015-09-04 12:11] craftworkgames commented on #43
Looks great. Thanks.

[2015-09-04 12:11] #43 closed

[2015-09-07 02:14] craftworkgames commented on #44
I'm okay with this in the short term. My concern is that if people start using it and there's lots of breaking changes to the API as we build a proper GUI system it'll be painful.

[2015-09-08 12:01] craftworkgames commented on #39
I fixed this and now the following unit test passes:

        [Test]
        public void Camera2D_GetBoundingFrustum_Test()
        {
            var graphicsDevice = TestHelper.CreateGraphicsDevice();
            var camera = new Camera2D(graphicsDevice);
            var boundingFrustum = camera.GetBoundingFrustum();
            var corners = boundingFrustum.GetCorners();

            const float

[2015-09-08 12:01] #39 closed

[2015-09-08 12:20] craftworkgames commented on #38
I changed the order of the mouse click events to be more consistent with the WinForms behavior. Two quick clicks produces:

[code]

There's still an outstanding issue (#42) in the same area of code but I'll leave that for another night.

[2015-09-08 12:20] #38 closed

[2015-09-08 20:44] cra0zy commented on #31
Under what licence is Farseer Physics?

[2015-09-08 22:02] craftworkgames commented on #31
Looks like [Ms-PL](http://farseerphysics.codeplex.com/license)

I think the safest thing to do is to [ask the maintainers](http://farseerphysics.codeplex.com/wikipage?title=Acknowledgments&referringTitle=Home) if it's okay to use some of the code from the debug renderer. I'd be very surprised if they had a problem with it.

[2015-09-09 00:03] craftworkgames commented on #31
@GenBox @JeffWeber Would it be okay if we used some of the implementation of the [Farseer Debug Renderer](http://farseerphysics.codeplex.com/SourceControl/latest#DebugViews/DebugView%20MonoGame/DebugViewXNA.cs) in our library? We are mostly interested in the algorithms for drawing shapes in a non-physics specific scenario.

[2015-09-09 08:05] KonajuGames commented on #39
I believe it was DirectX9 (which XNA was originally based on) required a
half-pixel offset to get pixel-perfect rendering in orthographic mode.
DirectX10 and later removed this half-pixel offset.​

[2015-09-09 10:36] craftworkgames commented on #39
@KonajuGames Right, but shouldn't MonoGame be abstracting this concept away regardless? Since MonoGame.Extended sits on top of MonoGame I figured any offsetting would already be accounted for in the layers underneath.

In any case I think it makes more sense without the half pixel offset. Hopefully it works on all platforms that way. I'd love to setup some screenshot tests to confirm this.

[2015-09-09 18:06] Genbox commented on #31
Feel free to use the DebugView and related code from Farseer Physics Engine.

[2015-09-09 22:18] cra0zy opened #47 "Tools Tools Tools"
Simple question, should there be some tools included in MonoGame.Extended?

Example tools which could be useful are:
 - level editor
 - spritefont editor
 - xnb file previewer (to check if the file is good after compilation, would mostly be good for 3D Models)

[2015-09-09 22:44] craftworkgames commented on #47
Excellent question. My ultimate goal is to help game developers make games. The slogan on [my blog](http://dylanwilson.net/) is "making tools for game developers".

My goal with MonoGame.Extended is to build the foundation to create other tools like the ones you've listed. It's not going to happen overnight, but it's definitely in the plan.

I'd be interested to know what kind of tools you'd value

[2015-09-09 23:05] cra0zy commented on #47
Well the 3 tools I listed above are the tools I would value the most, as for the problems they could solve:

1) Level Editor - besides being self explanatory, it would be very useful to include save and export, and export would work by setting a format that it would be able to export, ie:
[code]
and it auto exports it to that level format. Of course it would be more complex than that.

2) Spritefo

[2015-09-10 05:44] craftworkgames commented on #31
Thanks @Genbox. Much appreciated :smile:

[2015-09-10 05:50] craftworkgames commented on #47
@cra0zy These are some really good ideas.

I've thought about this kind of thing before. I agree it would be a nice feature. It'd take some serious thinking to design it right.

That's cool. Editors like these are really useful. You should publish it on a blog or something. Put up some screenshots and let people know about it.

Yep. This would be good functionality to add to the Pipeline Tool itse

[2015-09-10 09:05] cra0zy commented on #47
It's for Windows as well, I only couldn't compile it for Mac(don't have it)... also if you want I'll move it to this repo, I never liked that I created a whole repo for that tool.

[2015-09-10 09:26] craftworkgames commented on #47
That looks sweet. I'll try build it tonight when I get home.

I'd rather keep tools out of this repo. I'm not sure how github intended things to be but in my experience having 1 repo per project is pretty common.

I'll fork your repo and take a look. If I make any changes I'll PR back. Looks like a great tool though. Nice job.

[2015-09-10 12:59] craftworkgames commented on #47
I got it to compile and run out of Visual Studio 2015 on Windows 10. It was little fiddly because I forgot to do a submodule update and of course the Linux projects didn't compile. In the end though it was relatively easy.

I'm too tired to do anything more significant tonight. It is cool though, I've never seen Xwt before. I'll have to remember it if I want to do a cross platform tool in the futu

[2015-09-10 13:36] cra0zy commented on #47
Linux projects require gtk-sharp 2/3  to compile them.

gtk 2 sharp is available at: http://www.mono-project.com/download/#download-win
gtk 3 sharp that I used is from: https://github.com/openmedicus/gtk-sharp because they keep updated bindings for the newest version of GNOME, and they have to be installed by building from source

[2015-09-10 22:08] craftworkgames commented on #47
You should really copy and paste those instructions into a "How to build" section of the README.md in the project. You took the time to write them for me, it'd be a shame to waste that effort.

[2015-09-11 00:04] cra0zy commented on #15
I'll be adding an Update method to Sprite class for setting animation speed and current frame.

[2015-09-11 00:32] craftworkgames commented on #15
Hey @cra0zy

Thanks for taking on this job. I've been thinking about it for a while but haven't started anything.

Please don't modify the `Sprite` class. I know it sounds silly, but I'd really rather keep the Sprite class as simple as possible and use it as a building block for other functionality. There's 2 ways to achieve this:

### Option 1: Create a derived class called `AnimatedSprite`

Doin

[2015-09-11 13:45] cra0zy commented on #47
What do you think on creating a repository named MonoGame.Extended.Tools that contains a collection of tools useful for MonoGame (would be pointing to tools with Git Submodules).

It could also have some kind of packager / installer for all the tools so that they don't have to be installed one by one.

[2015-09-11 14:06] craftworkgames commented on #47
It's an interesting idea... maybe. What tools would you put in it initially?

I'm not sure how much value it adds over a simple list of tools with download links though. Not all tools are going to be open source and we'd have to maintain the repository to keep it up to date.

Maybe something like [Chocolatey](https://chocolatey.org/) could be used to manage installing a group of tools. Most people

[2015-09-11 14:07] craftworkgames commented on #47
I'm off to bed now (really late here) so I'll take a look at your PR's tomorrow.

[2015-09-13 11:39] craftworkgames commented on #40
This is done. Thanks @cra0zy

[2015-09-13 11:39] #40 closed

[2015-09-14 23:32] craftworkgames commented on #9
I wrote a blog post about the samples repository

http://dylanwilson.net/the-monogame-extended-samples-repository

[2015-09-15 08:08] craftworkgames commented on #37
I started looking into this today and found that the issue runs a little deeper than the nuspec file. It turns out that the core library also references the .NET 4.5 version of Newtonsoft.Json which prevents a .NET 4 application referencing the library.

The core library shouldn't really carry a dependency on anything other than MonoGame itself so I'm going to do a bit of a refactor on the BitmapF

[2015-09-15 14:52] WardBenjamin commented on #36
Don't worry, I'm still doing this. School starting has made me busy but I'm starting to come up with a little bit of time again.

[2015-09-15 20:33] craftworkgames commented on #36
No worries. Thanks for letting me know. It's always hard to know when people abandon open source projects. Great to know you're still with us :smile:

[2015-09-17 00:09] killerrin opened #54 "Timers"
How would we feel about adding in a Timer Class? Its something that MonoGame doesn't have, and something that every Game Dev ends up having to create in all of their projects.

I have two timers which I would be willing to add to the project, I made it a couple months ago for a MonoGame 'Game Engine' which I used in my Capstone Project which I think could fit this bill perfectly

Timer - https://g

[2015-09-17 06:57] craftworkgames commented on #54
I've used similar timers before in previous projects. They could be helpful.

I'd be hesitant about calling them `Timer` though. There's already `System.Timers.Timer` and `System.Threading.Timer` in the BCL. Another `Timer` class could get confusing.

As a side note: I also think there might be some bugs in the way MonoGame calculates frame times for the Update method. It's intended to run at 60 f

[2015-09-17 13:22] craftworkgames commented on #37
Done.

[2015-09-17 13:22] #37 closed

[2015-09-17 13:22] #36 closed

[2015-09-17 13:23] #15 closed

[2015-09-17 15:15] WardBenjamin commented on #37
Nice work.

[2015-09-17 16:13] WardBenjamin opened #55 "Adding images and logo to README"
I have found that the easiest way to serve images is by placing a copy inside of the gh-pages branch, and serving it via github pages (we can also do this with Markdown-formatted text, or HTML). I have done this on my branch, and will add a logo to the README in the master branch using this if/when my gh-pages branch is merged into the one here.

Here's a usage of this, if I'm not being too clear:

[2015-09-17 16:15] WardBenjamin commented on #55
I just tried to open a pull request for this purpose, but it seems that I cannot since there's no gh-pages branch already here. Could you push a copy of master to gh-pages @craftworkgames?

[2015-09-17 23:40] craftworkgames opened #56 "Bitmap fonts and files have to be in the Content root directory or they will just not load"
I got an email this morning with a nice compliement from @Gixen :smile:

For some reason the link to the topic at the bottom of the email doesn't work.

Anyway, I thought I'd raise it as a bug here for further investigation.

@Gixen Do you have any more details you'd like to add? How are you trying to setup the Content directory?

[2015-09-18 00:35] WardBenjamin commented on #56
I have no evidence for this since I haven't looked into this in much detail, but I bet it has something to do with the fact that there are two files, and that they aren't being looked for in relation to each other, but rather just in the root directory.

[2015-09-18 00:38] WardBenjamin commented on #19
I'm going to start some work on this, here are my rough plans:

Classes:
 - Particle (struct?)
 - ParticleEmitter
 - ParticleEngine (static?)

Particles and emitters have a position, particles have velocity, angular velocity, time until death, texture, size, etc.

Particle engine manages killing particles, updating emitters, etc.

Emitters manage creation of particles with parameters including spa

[2015-09-18 00:41] WardBenjamin commented on #19
For the record, the reason I am designing a custom solution is because all of the particle engines that I have been able to find that seem to work well are optimized at the DirectX-level or something similar, and are for that reason platform-specific. I think I should be able to come up with a reasonably high performance solution, even if it can't maintain quite as many particles as an optimized e

[2015-09-18 00:54] craftworkgames commented on #56
I suspect you're right but to fix it we need to reproduce it first.

The relevant bits of code would be the [BitmapFontReader](https://github.com/craftworkgames/MonoGame.Extended/blob/master/Source/MonoGame.Extended/BitmapFonts/BitmapFontReader.cs) and the [BitmapFontProcessor](https://github.com/craftworkgames/MonoGame.Extended/blob/master/Source/MonoGame.Extended.Content.Pipeline/BitmapFonts/Bit

[2015-09-18 01:21] craftworkgames commented on #19
Particle systems are a rather big job. I don't mind if you start working on it but keep it in a different branch for a while until we get the design concrete.

@Matthew-Davey how do you feel about us borrowing some of the design from your excellent particle engine? I couldn't find the license.

Yep, structs are probably the way to go for performance reasons. Although, they do have some downsides (

[2015-09-18 01:29] craftworkgames commented on #55
What problem are we trying to solve here?

If it's getting the logo image in the readme I think the *easiest* solution is to just link it directly out of the master repository.

    ![example](https://raw.githubusercontent.com/craftworkgames/MonoGame.Extended/master/Logos/logo-banner-800.png)

![example](https://raw.githubusercontent.com/craftworkgames/MonoGame.Extended/master/Logos/logo-banner-80

[2015-09-18 01:34] WardBenjamin commented on #55
Fair enough, I'll change it to be so. The advantage of the gh-pages branch is that it's very easy to set up and ignore; that way the logos, docs, and other things don't need to be versioned in the regular repository along with the code, dependencies, and other things.

[2015-09-18 01:39] WardBenjamin commented on #19
Alright, sounds good. I'll probably have a working demo tomorrow or this weekend sometime with a simple-ish set of code, then I'll try sticking it into Monogame.Extended in a branch so we can do some discussion.

[2015-09-18 01:47] craftworkgames commented on #55
Yes it is. It's also very easy to setup and go unnoticed. I kind of like the idea that the repository makes it clear to new users that we have logos and documentation. It also makes it really simple to get started.

I'm not saying I'm completely opposed to the idea. Adding logos and other crap grows the repository size which is a bad thing. However, it's currently the logos only take up about 100K

[2015-09-18 01:56] craftworkgames commented on #19
Let me know if I need to create a the branch on my end or whatever. I haven't done a lot of branching before but I want to get into the habit of branching more often.

[2015-09-18 02:01] WardBenjamin commented on #19
You don't have to for now, but I may ask you to in the future. While only I am still working on it, there's no need to have a branch in the main fork (aka your copy of this repo here on Github), however I won't be able to push my fork over here unless you make a branch that is equal to master, then I can open a pull request specifically for that branch, updating the branch on this fork to the bran

[2015-09-18 02:58] WardBenjamin commented on #19
I have a very simple codebase right now, but it seems to work. It's a bit hacky and needs a lot of work, but it's functional. Here's a video!

https://youtu.be/CoOh7VWl5rc

[2015-09-18 04:12] craftworkgames commented on #19
Looks great. It's always fun to write particle systems :fireworks:

[2015-09-18 11:12] #55 closed

[2015-09-18 11:18] craftworkgames commented on #9
The samples repository is pretty much done for v0.2. I'll continue to add samples for each new feature but there's no reason to keep this issue open.

[2015-09-18 11:18] #9 closed

[2015-09-18 19:09] killerrin commented on #54
Alright, I'll submit a pull request

[2015-09-18 19:09] killerrin commented on #54
Alright, I'll submit a pull request

[2015-09-19 00:31] craftworkgames opened #59 "Interfaces for a cleaner design and more flexibility"
I've been thinking about this for a while. I think it's time we talked about creating some interfaces for common methods and properties.

## Updating

The first one is to cover the reuse of an `Update` method so that many *updatables* can be added to a collection of `List<IUpdate> _updatables`. Something like this:

    public interface IUpdate
    {
         void Update(GameTime gameTime);
    }

[2015-09-19 01:51] #54 closed

[2015-09-19 13:17] cra0zy commented on #42
On Linux double click event occurs on MouseUp

[2015-09-20 01:03] craftworkgames commented on #42
Interesting. I haven't had a chance to take another look at this bug yet. What do you think we should do?

[2015-09-20 10:20] cra0zy commented on #42
Maybe implement 2 double click events? one that occurs on mouse up and the other on mouse down

[2015-09-20 11:54] craftworkgames commented on #42
Interesting thought. Kinda like how WPF has a [[`PreviewMouseDoubleClick`](https://msdn.microsoft.com/en-us/library/system.windows.controls.control.previewmousedoubleclick(v=vs.110).aspx) event perhaps.

Tbh, I'm not sure it really matters that much. I think I'd rather just pick one way and go with it.

[2015-09-20 17:02] dhasenan opened #61 "Camera2D Zoom values are not clamped"
Setting Camera2D.Zoom to -1f, for instance, results in a zoom of 1 and a 180 degree rotation. This is probably not intended.

[2015-09-20 20:22] craftworkgames commented on #61
Agreed. This isn't intended. What do you think it should do instead? Always clamp above zero + Configurable clamping values?

I think it needs to be flexible but have sensible default values.

[2015-09-20 20:53] dhasenan commented on #61
The minimal sensible change would be to throw an ArgumentException when setting the zoom below 0.

[2015-09-20 21:15] craftworkgames commented on #61
Yep fair enough. That leaves the responsibility of clamping to the user. I'll just have to remember to update the sample to show how to use it.

[2015-09-20 22:46] EmptyKeys commented on #20
So did you think about using Empty Keys UI? Would solve some of your issues and you could focus on other stuff tho. I already have input, shapes and ofc full working UI. :)

[2015-09-20 23:07] craftworkgames commented on #61
@dhasenan I implemented the minimum change to throw an ArgumentException then it really bothered me how much state we are asking to user to manage themselves to prevent the exception from being thrown.

What do you think about [this implementation](https://github.com/craftworkgames/MonoGame.Extended/commit/e961b58eff39400a29050e20e457abbf1966b0ab)?

I think it adds value without taking anything aw

[2015-09-20 23:15] dhasenan commented on #61
That looks pretty awesome.

[2015-09-20 23:28] craftworkgames commented on #61
Cool.

While I was doing it I was thinking maybe we could add some sort of bounds checking feature to keep the camera inside a specified rectangle in a similar way.

[2015-09-20 23:56] craftworkgames commented on #20
@EmptyKeys

I've certainly considered Empty Keys UI. You guys seem to be doing some interesting work over there based on the screenshots. Currently we are focusing on building a solid foundation for the project and I'll be tackling the GUI side of things a little later.

I just downloaded the examples to take a closer look and got a bunch of compile errors. At a glance I guess it's because I didn'

[2015-09-21 02:28] #61 closed

[2015-09-21 02:40] craftworkgames commented on #12
The readme file will work well enough for the moment. Closing issue.

[2015-09-21 02:40] #12 closed

[2015-09-21 02:41] craftworkgames commented on #31
@cra0zy Are you still working on this? Shall we leave it until the 0.4 release?

[2015-09-21 07:52] Felsir opened #62 "Sprite atlas Content Importer"
As briefly discussed here: http://gamedev.stackexchange.com/questions/108613/monogame-3-4-content-pipeline-extension-missing-reference/108616?noredirect=1#comment189059_108616

Basically a content importer that reads png files, places them into an atlas and makes the assets easy retrievable in the game code. The process works like this:

1. Create a bunch of individual .png images that should end

[2015-09-21 07:58] EmptyKeys commented on #20
There is readme with examples, guess no one reads it. :)

I had to put zip version behind registration, coz army of bots were storming my site. You can always use NuGet if you like it, it's over here - https://www.nuget.org/packages?q=Empty+Keys

[2015-09-21 08:29] cra0zy commented on #31
Leave it for 0.4 release.

[2015-09-21 12:20] craftworkgames commented on #20
I read the readme, but I guess I didn't read it very well :)

Only one of the downloads is behind registration. The bots didn't attack the examples?

Using NuGet packages for the examples would make the whole process much smoother.

Other suggestions:
 - Put a readme in the EmptyKeysUIv1900.zip file.
 - Keep the readme short and to the point. Better yet, also publish them on a download page.
 - Pr

[2015-09-21 12:27] craftworkgames commented on #62
Thanks @Felsir. Cool looking game too.

[2015-09-21 12:39] Gixen commented on #56
I really should check my email better, this response-chain went right into the spamfolder. =P
I just used the default directory setup, creating folders through the pipeline manager.

[2015-09-21 13:09] EmptyKeys commented on #20
Examples zip is hosted on GitHub so no idea, if they do. I was thinking to put lib to examples repo/zip (or using NuGet as you said) but both sites have terrible statistics. NuGet stats are not working for few months and it's one of the reasons, why I don't promote it that much. I would loose all the stats info. I will wait for NuGet to fix it tho.

You could make desktop app too that's true, but

[2015-09-21 18:14] WardBenjamin commented on #62
@Felsir you beat me to the freaking answer you scrub :P

First of all, nice answer. It would have beaten mine in the amount of detail. I basically said "you need to import this Nuget package. See Dylan's website". Second of all, nice game and nice Pipeline extension. I like it.

[2015-09-21 21:48] Gixen commented on #2
Any plans on differernt kind of audioformat-support, or do i have to learn how to use fmod? =D

[2015-09-21 22:23] craftworkgames commented on #2
@Gixen You're the first person to mention audio so we haven't currently got any plans. Do you have something in mind?

[2015-09-21 22:39] craftworkgames opened #64 "[Camera2D] Camera2D limiting rectangle"
I've been working on the `Camera2D` class a little recently, adding the ability to clamp zoom values #61.

That got me thinking about how to implement another feature. The ability to set a rectangle to keep the camera inside when moving it around. I've seen this kind of thing before but I couldn't find it. A quick google revealed [this tutorial](http://www.david-gouveia.com/portfolio/limiting-2d-c

[2015-09-21 22:51] cra0zy commented on #2
Why are you using fmod in the first place?

I never used it with either Xna or MonoGame.

[2015-09-21 22:55] craftworkgames opened #65 "How should the Camera2D.Zoom property actually work?"
Currently the `Zoom` property of the camera actually represents the scale of the scene. For example:

 - A zoom value of 0.5 appears to put the camera further away from the scene allowing more to fit into the viewport
 - A zoom value of 2.0 appears to put the camera closer to the scene allowing less to fit into the viewport.

Obviously this achieves the desired effect but it feels a little odd. It

[2015-09-22 00:26] Gixen commented on #2
Well, im still learning but as i understand, monogame plays, wma, wav and mp3 out of the box? For example, playing ogg-files seem a bit tricky. I just started looking into adding a bit of sound into my little project. From what i, in my finite knowledge of audio, you could, for example, loop ogg-audio by using metadata. The monogame documentation is a bit sparse on how audio works (or maybe it's m

[2015-09-22 00:34] craftworkgames commented on #2
The way I understand it MonoGame plays some of these formats on some of the platforms. The idea being that you should pre-process the formats with the Pipeline tool first so that all platforms are reading the same XNB file format.

I'm not certain how many different formats MonoGame actually supports these days. In the past I've had issues with some audio formats even down to the level of differen

[2015-09-22 01:02] craftworkgames commented on #62
Funny story about that. When I first looked at the question on stack it didn't have any answers. I must've been writing my answer at the same time as @Felsir. He submitted his answer just a few minutes before mine and it got upvoted (I assume by @WardBenjamin). Small world :)

[2015-09-22 01:10] craftworkgames commented on #56
Good to know. Did you have both files in the same folder? There's 2 test cases I can think of that we should consider.

The first is when both files are in the same sub-folder:

	- Content
		- SubFolder1
			- font-file.fnt
			- font-file_0.png

And the second is when the files are in different sub-folders. I'm not sure if this is likely to actually  happen in the real world though.

	- Content
		-

[2015-09-22 01:30] Gixen commented on #56
Both in the same folder.

[2015-09-22 01:32] Gixen commented on #2
Well, better and less hassle handling of audio couldn't hurt, now could it? =)
Don't you loose lots of the benefits with open formats like ogg and embedded metadata when you build them to xnb?

[2015-09-22 01:39] WardBenjamin commented on #62
Ouch. I come across as a total jerk... not quite what I meant.

Anyway, quite a small world, definitely. I was also writing my own answer with very similar content, but ended up deleting it when Felsir's popped up. Huh.

[2015-09-22 01:52] craftworkgames commented on #2
It depends.

When you write the custom importer for a file format you could either output the XNB file to the same format as the other sound importers making it compatible with a MonoGame `SoundEffect` or `Song` class. This would be a good idea if you wanted to treat all sounds the same way in your game regardless of the source format.

Alternately if there was some some special feature of an OGG

[2015-09-22 02:40] nanexcool commented on #65
I think it's fine as it is. A lens can zoom to 2X, 4X, etc... and that's what represented currently. On my Android camera it shows 1.0X, and if I zoom the number increases.

[2015-09-22 05:15] craftworkgames commented on #65
@nanexcool Good to know.

I had another look around and it looks like [Flixel](http://flixel.org/docs/org/flixel/FlxCamera.html#zoom) does it that way.

The [LibGDX Camera tutorial](https://github.com/libgdx/libgdx/wiki/Orthographic-camera) has the following code:

        if (Gdx.input.isKeyPressed(Input.Keys.A)) {
            cam.zoom += 0.02;
        }
        if (Gdx.input.isKeyPressed(Input.K

[2015-09-22 07:13] Felsir commented on #62
@WardBenjamin nah, it is all a funny coincidence and weird timing :-)

The racegame is currently "on hold" I learned a few new techniques so it's up for a rewrite. In it's current state it works but it's not very modular. Happy you like it :-)

Back to the topic of Atlasses: another importer I'm looking to build is one for this (free) editor: http://darkfunction.com/editor/ it is really simple for

[2015-09-22 07:43] craftworkgames commented on #62
I think that's a great idea. Having support for a few different free and commercial tools is a really great thing. The only downside is that we have to maintain the importers if the file format changes.

When I have time to take a closer look at the tool I'll add it to my [list of content creation tools](http://dylanwilson.net/list-of-game-development-content-creation-tools).

@Felsir can you rais

[2015-09-22 23:16] #65 closed

[2015-09-23 11:50] craftworkgames commented on #42
Fixed.

[2015-09-23 11:50] #42 closed

[2015-09-23 11:55] WardBenjamin commented on #42
Whoo! I think this is the last part of version 0.3!

[2015-09-23 15:49] Gixen commented on #2
I think it would make an excellent addition to monogame extended.

[2015-09-23 21:47] craftworkgames commented on #2
@Gixen can you please raise a new issue with a description of how you would like it to work and any relevant links.

[2015-09-23 22:14] cra0zy commented on #2
Pipeline Tool already supports this...

Also, just FYI, the current development version of MonoGame uses .ogg files for Song on DesktopGL platforms.

[2015-09-26 14:30] WardBenjamin opened #68 "Feature List"
Looking at the front page of the repository, there's no clear indication of what our features actually are. Should we either add a list to the readme or add some kind of FEATURES.md file with a similar list?

[2015-09-27 10:46] craftworkgames commented on #68
Yep sounds good. I think it should go in the main readme file somewhere near the top.

You can grab the current feature list from the release notes of [version 0.2](http://dylanwilson.net/monogame-extended-v0-2-release-notes) and [version 0.3](http://dylanwilson.net/monogame-extended-v0-3-release-notes).

I think it should be a short bullet point list. Don't describe each feature in too much detai

[2015-09-27 11:37] craftworkgames commented on #56
@Gixen I think I've fixed this now. If you want to test it you can reference the development NuGet package directly from our build server:

http://build.craftworkgames.com/guestAuth/app/nuget/v1/FeedService.svc/

Or just download an development build from github.

I haven't quite finished the testing so I'll leave this issue open for now.

[2015-09-27 22:02] #68 closed

[2015-09-28 20:54] Gixen commented on #56
Cool, i'll test it tomorrow after work.

[2015-09-29 07:08] Gixen commented on #56
So, i saw there was a new build, alpha 3.44 and i tested with that build, but it still didnt work. I followed the exception and it was still looking for it in the content root. Or should i test direcly with a downloaded dev-build?

[2015-10-01 12:57] craftworkgames commented on #56
Sorry I've been pre-occupied for a couple of days. I should have explained it a bit clearer.

You'll need to add that URL to your Packages Sources in Visual Studio options.

![image](https://cloud.githubusercontent.com/assets/3201643/10221006/b96281e8-688e-11e5-9c3f-389faf53ed52.png)

Then when you update the package you'll need to make sure you've selected the correct package source from the drop

[2015-10-03 07:49] Gixen commented on #56
Well, now i know how to add more package sources =D

[2015-10-03 07:50] Gixen commented on #2
I had no idea it did.

[2015-10-03 09:46] Gixen commented on #56
Made a new project with the latest stable, added bitmapfonts to a new folder, tried running it.
![testing font](http://i.imgur.com/cubLUJC.png)

[2015-10-03 10:27] craftworkgames commented on #56
Well I don't speak German but with a little help from google translate I can see that it could not find the file.

This could be caused by a few things.
 - Have you made sure the file actually exists at that location?
 - Does the Pipeline tool have any errors?
 - Have you made sure the Pipeline is referencing the correct version of the DLL in the `Content.mgcb` file?
 - Are you putting the correct

[2015-10-03 10:32] Gixen commented on #56
It's swedish ;)
Well, shit.
I forgot to put in the correct filepath. =D

Issue solved!

[2015-10-03 10:49] craftworkgames commented on #56
Wonderful! :smile:

[2015-10-03 10:49] #56 closed

[2015-10-05 18:47] cra0zy commented on #20
@craftworkgames What is your current plan with this?

[2015-10-05 21:47] craftworkgames commented on #20
@cra0zy I've got a half finished GUI project that I started years ago. My plan is to start with that and integrate it into the library very soon. I was a bit busy with something else last week but this is the next thing I'll be working on.

Are you looking for something to do?

[2015-10-05 22:39] cra0zy commented on #20
I coincidentally also have a GUI framework I wrote long time ago, it has the following controls:
 - Button
 - Label
 - TextBox
 - CheckBox
 - RadioButton
 - ChatTextView
 - Window
 - ChatWindow

plus extra stuff:
 - Cursor
 - Theme

Yup

[2015-10-06 11:36] craftworkgames commented on #20
Cool. Can I take a closer look at it?

Okay, well I've created a new branch called `gui_system`. If you want to get started do it in that branch and when I get around to it I'll work on it with you.

[2015-10-06 19:18] cra0zy commented on #20
I will let you take a closer look once I rewrite it a bit... You know whenever you look at your old code you kind of feel ashamed that you wrote it because you see thousands of things you could have done better...

Great. Do I setup PRs for it or do I commit straight to it (because the way you are talking it sounds like I should commit straight to it)?

[2015-10-06 22:22] craftworkgames commented on #20
I'm just trying to get into the habit of working in branches so that I can keep the master clean and releasable. We are starting to add bigger features to the library which is great but it also makes it more difficult to keep the release cycle short with lots of half finished features.

This is the first time I've ran an open source project with so many contributors. It's very exciting to see lots

[2015-10-08 14:47] Matthew-Davey commented on #19
Hey guys sorry for the slow response. If you did end up borrowing any code from Mercury then have no fear, it's covered by the http://www.wtfpl.net/  :sunglasses:

[2015-10-08 17:42] devsaulius commented on #2
More basic shapes for collision detection would be a perfect addition to this extention.

[2015-10-08 22:03] craftworkgames opened #72 "More basic shapes for collision detection"
We currently have one shape (a circle) in the MonoGame.Extended.Shapes namespace. There's room for a few more. Given that one of the use cases will be collision detection I think it makes sense to look at the shapes found in a typical physics engine.

Farseer Physics [has a few](http://farseerphysics.codeplex.com/SourceControl/latest#SourceFiles/Collision/Shapes/PolygonShape.cs) including Polygon,

[2015-10-08 22:06] craftworkgames commented on #2
I agree. I've raised a new issue #72 with what I had in mind. Please add to it with your thoughts.

[2015-10-08 22:07] craftworkgames commented on #19
Cool. Thanks @Matthew-Davey

[2015-10-09 18:25] cra0zy commented on #20
Status update, I was a bit busy the last few days, tomorrow and the day after I will be free so I will be working on this. Expect to see a PR "The Day After Tomorrow", and don't watch tho movie.... it sucked...

[2015-10-09 21:44] craftworkgames commented on #20
No problem.

[2015-10-12 11:19] craftworkgames opened #73 "Support for the Overlap2D level editor"
I just came across this awesome looking level editor. It's written in Java but the website says it's not tied to any specific game engine. This [youtube video](https://www.youtube.com/watch?v=I0g-t0nZ-qE) shows the things it can do.

I haven't managed to get it working on my machine but it could be worth watching.

[2015-10-13 13:40] craftworkgames opened #74 "[Collisions] Simple collision detection"
Lately I've been interested in getting some simple collision detection and response working.

**Note** Let me just be clear right up front; I'm not talking about the same type of functionality a _physics_ engine provides.

What I'm talking about is providing a library of classes and methods to implement the type of collision detection you might find in a platformer or other type of non-physics gam

[2015-10-13 16:11] StunGunStudios commented on #74
That's really interesting. I've frequently run into problems with fast-moving objects, with the result that my standard method of collision detection is now multi-sampling.

[2015-10-13 17:39] polly5315 commented on #74
Please look at this:
https://github.com/kikito/bump.lua
It's really pretty lib

[2015-10-14 03:14] craftworkgames commented on #74
My assumption is that multi-sampling comes with a performance penalty but that would only be a concern if you're trying to squeeze more performance out. If your game is already running nicely there'd be no reason to do so.

https://github.com/kikito/bump.lua
It's really pretty lib

That lib looks amazing. The github readme alone is incredibly detailed. Obviously it's in LUA but I'm sure it will be

[2015-10-14 05:16] polly5315 commented on #74
Hmm... multi-sampling?
It does not move all the objects at the same time as Farseer. You have to move them one by one.
(sorry, it is result of google trahslate from russian)

[2015-10-14 12:07] craftworkgames commented on #74
@polly5315 multi-sampling is defined in [the N tutorial](http://www.metanetsoftware.com/technique/tutorialA.html).

[2015-10-14 20:55] StunGunStudios commented on #74
Unfortunately, it does. With too many objects, the game takes a considerable hit, as I've found out. So I can't use it for everything.

[2015-10-25 23:25] craftworkgames commented on #74
I've been working on this collision detection stuff and I've got a very basic implementation working in the sandbox. I'm not really happy with the design yet.

I also ran into this [Sonic Physics Guide](http://info.sonicretro.org/Sonic_Physics_Guide) which looks like it could be a useful read.

Part of the problem trying to design a big feature like this is trying ti imagine how it's going to be u

[2015-10-31 06:00] craftworkgames opened #75 "2D lighting with shadowing effects"
I just discovered @discosultan's excellent [penumbra](https://github.com/discosultan/penumbra) 2D lighting with shadowing effects library.

From what I can see the library already stands on it's own so there's probably nothing to add to MonoGame.Extended for it anyway. I just wanted to raise this issue for discussion just in case there's some way we can help.

[2015-11-09 22:55] WardBenjamin commented on #2
@craftworkgames Nice to see you still working on this! I've not been able to do much development because of school and preparing for some important events, but hopefully I'll have a chance to work some more on MGE as soon as my life stops being so busy!

:+1:

[2015-11-09 23:57] craftworkgames commented on #2
@WardBenjamin Yeah, everyone seems to be a little busier lately.

I've been busy, sick and tired for a while but I'm feeling a lot better this week. This project is always in the back of my mind though.

I'm currently working on a little experimental sprite sheet animation editor that uses MonoGame.Extended in the back end. It's coming along nicely, but still has a long way to go before it's usabl

[2015-11-10 09:07] cra0zy commented on #2
Something tells me that you are just creating it for Windows :( Linux and Mac people sad :(

[2015-11-10 10:16] craftworkgames commented on #2
@cra0zy Currently yes, only for Windows. I have a lot of experience with WPF so it's fast for prototyping things.

I've considered porting to other platforms using [xwt](https://github.com/mono/xwt) but at this stage I'm just experimenting with ideas.

[2015-11-10 10:40] cra0zy commented on #2
One thing I would recommend is to setup something along the lines of a MVC model, that way even tho you would be building the editor with WPF, it won't be that hard to port to other platforms.

[2015-11-10 10:41] craftworkgames commented on #2
I typically use the MVVM pattern but the same concept should apply.

[2015-11-17 04:58] craftworkgames commented on #31
Found another reference for this:
https://msdn.microsoft.com/en-us/library/bb196414.aspx#ID2EEF

I might get started on this one shortly.

[2015-11-22 21:33] gmich commented on #41
There's a really nice framework for creating IDE-like applications called [Gemini](https://github.com/tgjones/gemini), that has a [WPF control for rendering Monogame in it](https://github.com/tgjones/gemini#monogame-module).

I use it in my latest [project](https://github.com/gmich/Gem), it's out of the box :)

[2015-11-22 23:34] craftworkgames opened #76 "Tiles in large maps should excluded from rendering when they are drawn outside the camera's view"
@emersont1 on [gitter](https://gitter.im/craftworkgames/MonoGame.Extended) asked

I took a look at the code and noticed that it's not doing any optimization in this area. I suspect rendering performance would degrade significantly with large maps. It should be relatively simple to only render tiles that are inside the camera's bounding rectangle.

This looks the relevant code https://github.com/cr

[2015-11-23 05:30] craftworkgames commented on #41
I've been messing around with Gemini a bit over the last few weeks.

Your Gem project looks interesting. I'll have to take a closer look.

[2015-12-03 22:20] Advancensar opened #77 "Collision spots are not correct"
The layer you get from Tiledmap is not in correct place or checking the collision bounds is not working as intended, collision works fine when the coordinates are at the starting index. If check bounding box on columns only chance is vertical, and for rows it is horizontal.It is feels like a loop for bounding box has an extra multiplier.
Hopefully i made it clear, my knowledge about programming is

[2015-12-04 16:48] Advancensar commented on #77
Changing
return world.CreateGrid(data, tileLayer.Width, tileLayer.Height, tileLayer.TileWidth, tileLayer.TileHeight);
To
return world.CreateGrid(data, tileLayer.Width, tileLayer.Height, tileLayer.TileWidth-1, tileLayer.TileHeight-1);
In CollisionWorldExtensions is a workaround for now, if anyone needs to use collision detection.

[2015-12-04 20:29] craftworkgames commented on #77
Good to know. I took a quick look at the renderer yesterday and I don't think it's a bug in MonoGame after all.

I think the real problem is the way the camera scales the sprites; leaving tiny gaps between the tiles at certain zoom levels because each Sprite is scaled individually.

The good news is I've got an idea how to do it properly using a render target so I'll have a go at it soon. Unfortun

[2015-12-07 12:29] craftworkgames commented on #77
@Advancensar Sorry, I've been busy today. I was at the the [YOW developer conference](http://yowconference.com.au/) here in Brisbane all day.

So I looked into this a bit more and found the problem.

It's kind of embarrassing actually... lol. A few months ago when I implemented the rendered I noticed an issue with gaps between the tiles. My first thought was that I had a bug in my code.

I tested,

[2015-12-07 12:39] craftworkgames commented on #77
There was still a small problem with *tearing* between tiles but I eliminated that with a render target in commit https://github.com/craftworkgames/MonoGame.Extended/commit/dd367a709faa19976b93160eee866de4fc517149

That should close off this issue.

[2015-12-07 12:39] #77 closed

[2015-12-07 18:41] lionelthomas opened #78 "Couldn't MonoGame.Extended in NuGet in VS2015"
This is not a major issue but would be nice to keep up-to-date through VS2015

[2015-12-07 19:00] lionelthomas opened #79 "Couldn't install Samples.Extended.Windows"
Downloaded zip file and copied extracted file Samples.Extended-master to vs2015 projects folder.
Opened windows solution with VS2015. Did a Build.
Started debugging, stopped at this statement
 _bitmapFont = Content.Load<BitmapFont>("montserrat-32"); in Game1
Could not load montserrat-32 asset as a non-content file!
Was I supposed to create content  before running sample?
Thanks.

[2015-12-07 21:10] craftworkgames commented on #78
I'm using VS2015. I don't understand the problem? Are you saying the NuGet package is out of date?

Version 0.4 is still a work in progress so it hasn't been published on NuGet.org yet.

If you want to try the latest unstable build through NuGet we do publish them on our own build server.

http://build.craftworkgames.com/guestAuth/app/nuget/v1/FeedService.svc/

[2015-12-07 21:19] craftworkgames commented on #79
There's an open issue about this.

https://github.com/craftworkgames/Samples.Extended/issues/5

The recommended workaround is to install the MonoGame for Visual Studio 3.5 development build.

http://www.monogame.net/downloads/

This issue is really starting to bother me, since it's blocking people with MonoGame 3.4. I think I'll get it moving again.

[2015-12-07 21:31] lionelthomas commented on #78
When I search for MonoGame.Extended in the NuGet Launcher Windows it gives no items found. Never used NuGet before so I am unsure of how it is supposed to work.

[2015-12-07 21:49] lionelthomas opened #80 "Resolution Independence almost working"
It is basically working except that I cannot change the window size. I start with a 1000X550 window and a virtual game area of 800X550. It pillarboxes properly and the mouse is properly initialized. Are you not supposed to be able to change the window size dynamically?
When I go to fullscreen the graphics are correct but I can't seem to initialize my inputHandler because it is in a separate compon

[2015-12-07 22:01] craftworkgames commented on #78
Try setting the include pre-release flag.

I was planning on keeping it pre release until version 1.0 but I don't think it's providing any benefit. I might turn it off in the next release.

[2015-12-07 22:05] craftworkgames commented on #80
You'll need to hook up the OnClientSizeChanged event.

http://dylanwilson.net/resolution-independence-in-monogame-with-viewport-adapters

[2015-12-07 23:58] lionelthomas commented on #80
I have hooked up the OnClientSizeChanged event thus:
Window.ClientSizeChanged += (s, e) => OnClientSizeChanged();
takes me to:
void OnClientSizeChanged()
{
       _viewportAdapter.OnClientSizeChanged();
       input.MouseHandler.Initialize(_viewportAdapter);
       graphics.ApplyChanges();
 }
This creates a loop and gives a stack overflow.
graphics.ApplyChanges(); appears to raise the OnClientSize

[2015-12-08 05:27] lionelthomas commented on #80
It is now clear to me that GraphicsDevice.Viewport does not contain the dimensions of the new size OnClientSizeChanged but the existing dimensions. Consequently, the BoxingViewportAdapter does not do the right calculation. The virtual size stays the same and the offset equals zero. If you initialize the viewport it appears to work. Not sure if MonoGame 3.5 fixes this. I can't see a workaround.

[2015-12-08 08:51] craftworkgames commented on #80
I remember seeing some issues related to this when I wrote the viewport adapters but I can't recall the exact details. What platform are you targeting? Are you using the GL or DX version of MonoGame?

Have you managed to compile and run the samples? The [viewport adapters sample](https://github.com/craftworkgames/Samples.Extended/blob/master/Source/Samples.Extended/Samples/ViewportAdaptersSample.c

[2015-12-08 18:53] lionelthomas commented on #79
I downloaded MonoGame 3.5 and installed it but this did not fix the problem in Samples.Extended. It did however cause the build of my game project to hang during, so I reinstalled 3.4 and my project now builds again. Not sure what this means.

[2015-12-08 20:51] craftworkgames commented on #79
That is truly a mystery.

One last thing to try. Remove the reference to MonoGame.Framework.dll 3.5 from the samples project and add a reference to your 3.4 version.

The only reason we use 3.5 is multi platform compatibility (i.e  Linux)

[2015-12-08 23:14] lionelthomas commented on #79
I'm a bit confused on which MonoGame dll to reference so I reference the Windows version and now I get these compile errors:
Severity	Code	Description	Project	File	Line
Error	CS1061	'GameWindow' does not contain a definition for 'Icon' and no extension method 'Icon' accepting a first argument of type 'GameWindow' could be found (are you missing a using directive or an assembly reference?)	Samples.

[2015-12-09 00:13] craftworkgames commented on #79
Delete [line 38](https://github.com/craftworkgames/Samples.Extended/blob/master/Source/Samples.Extended/Game1.cs#L38) from `Game1.cs`

    Window.Icon = new System.Drawing.Icon("Icon.ico");

Apparently they changed or removed the Icon property in MonoGame v3.5.

[2015-12-09 00:48] lionelthomas commented on #80
After much ennui, I have determined that MonoGame GraphicsDeviceManager.ApplyChanges() is indeed incorrectly raising the OnClientSizeChanged Event. There is an issue that deals with this https://github.com/mono/MonoGame/issues/3572. This creates problems when you want to change the ViewPort. If you place the ApplyChanges in the OnClientSizeChanged event then you get an infinite loop. If you place

[2015-12-09 02:28] craftworkgames commented on #80
Interesting findings, but there must be something else going on because I haven't been able to reproduce your issue.

You can indeed change the window size mid game in the viewport adapters sample and there's no need to call `ApplyChanges()`.

My guess is that there's some differences in the way the GL and DX version of MonoGame are implemented.

[2015-12-09 03:31] craftworkgames commented on #80
I attempted to implement the `BoxingViewportAdapter` by injecting the game window into the constructor..

        public BoxingViewportAdapter(GraphicsDevice graphicsDevice, GameWindow gameWindow, int virtualWidth, int virtualHeight)
            : base(graphicsDevice, virtualWidth, virtualHeight)
        {
            _gameWindow = gameWindow;
            _gameWindow.ClientSizeChanged += GameWindo

[2015-12-09 03:35] lionelthomas commented on #80
Thank you, I thought that I might be going a bit crazy

[2015-12-09 03:43] craftworkgames commented on #80
Ah ha!!

It's most certainly a difference between the GL and DX versions.

If you reference the GL version (the problem goes away)

    C:\Program Files (x86)\MonoGame\v3.0\Assemblies\WindowsGL\MonoGame.Framework.dll

vs the DX version (the problem appears)

    C:\Program Files (x86)\MonoGame\v3.0\Assemblies\Windows\MonoGame.Framework.dll

Hopefully that's a workaround for you?

[2015-12-09 03:50] lionelthomas commented on #80
I will try that thanks.
I just found a very annoying thing about references in my VS2015. I try to set a reference by selecting from the list and it gives me the wrong one and strange problems appear. When I browse for the reference explicitly I get the right one the problem goes away. Maybe this will be the reason why I can't load samples.
I will try your suggestion, Thanks.

[2015-12-09 03:51] craftworkgames commented on #80
Turns out I actually reported this issue to MonoGame a while back https://github.com/mono/MonoGame/issues/4018

[2015-12-09 04:00] lionelthomas commented on #79
Well, what an infernal waste of time. When I set the references from the list it gave me windows8 no matter what I selected. Now I selected explicitly windows version and everything works.
Issue closed.

[2015-12-09 04:00] #79 closed

[2015-12-09 04:18] lionelthomas commented on #80
Just referenced WindowsGL and my version works like a charm. Did have a problem loading a Song though. Will have to look at that. What is the difference between Windows and WindowsGL?
For now this issue is closed. Thank you so much.

[2015-12-09 04:18] #80 closed

[2015-12-11 22:27] craftworkgames commented on #45
I've been thinking about introducing a proper discussion forum lately.

[Discourse](https://www.discourse.org/) is probably the nicest modern forum software but the hosting costs are pretty hefty.

Any other ideas?

[2015-12-12 21:25] Sejsel opened #81 "Camera center"
I would love to have the ability to set the center of the camera.
This would allow simple implementation of a variable game resolution.

If the center was at the real center, increasing the game window would reveal content on all sides at the same rate, staying centered.

An example of what I mean I quickly put together (I apologize for poor quality):
http://gfycat.com/FaroffShrillDeviltasmanian

[2015-12-12 22:43] craftworkgames commented on #81
Good idea.

[2015-12-12 22:45] craftworkgames commented on #81
How would you imagine the API working for this?

[2015-12-20 12:43] Sejsel commented on #81
I have been thinking about this for some time and still haven't figured out what the best way to do this would be.

What seems most sensible for me right now is to have a Center Vector2 property which would default to (0, 0). (0.5, 0.5) would act like the example I have linked above. (1, 1) would expand from the other corner.

This would not even have to be limited to the range [0, 1], having the

[2015-12-23 02:35] Jjagg commented on #19
I recently made some changes to mpe so it can be used with monogame (it just needed a renderer that used a spritebatch really). I was planning on setting up a gist or a repo for it. I made some additions other than the renderer too and refactored some stuff (mostly to dig in the code and get a hang of te structure). I'm working on a winform editor for the effects now, and want to let it use the In

[2015-12-23 02:39] craftworkgames commented on #19
@Jjagg That sounds cool. Do you have any links to what you've done?

What's the plan here? Do you want to integrate it into MonoGame.Extended somehow?

[2015-12-23 06:24] craftworkgames opened #82 "Immutable shapes experiment"
I've been working on an idea for using immutable classes to represent shapes in MonoGame.Extended. I think this design has some clear benefits but it also has a few issues.

Before blindly going ahead and officially including this stuff in the library I'd like to discuss the pros and cons.

First, let's take a look at an example of how this might work. Imagine you have a `PolygonF` class that repr

[2015-12-23 11:21] Jjagg commented on #19
It's pretty large, so I don't think it should be added here. I noticed that's been said before here, so maybe it would be nice to link other useful tools for MonoGame in the readme. That way this repo could be a sort of central point where MonoGame developers can find all kinds of useful tools. As I said, the particle engine stuff is a work in progress, so no repo yet. I made some large changes to

[2015-12-23 13:36] craftworkgames commented on #19
That's a good idea. I'll have a think about how this might work.

I'm really interested to see it. Keep me informed if you put it in a repo :)

[2015-12-23 14:21] Jjagg commented on #19
It's up there! https://github.com/Jjagg/MgMercury
I put up a little gist in case you'd like to test it. https://gist.github.com/Jjagg/716924e108a84f0ace19

[2015-12-24 05:34] cupstudio commented on #76
I was just going to ask this question.  I wrote my own quick and dirty tile system, but I'd like to switch to monogame.extended and am planning to make some changes to my code so that it can incorporate Extended as well as the Draw/Update bounds.

In my initial version, each layer is just two 2D Arrays.  One for the Tile ID, the other for a Vector2 position of the tile (which is created once in co

[2015-12-24 05:39] cupstudio commented on #59
I do the exact same thing in my framework... why should I have to recalculate and cast to a float for nearly every single object in the game?

[2016-01-02 06:05] jakethornton47 opened #83 "TiledMap not correctly using the TMX map's background color"
I decided to mess around with MonoGame.Extended's TMX loader, upon doing so I noticed that for my map the background color was not being correctly displayed despite <code>useMapBackgroundColor</code> being set to true.

Upon reviewing TIledMap.cs I noticed that the tiles are being drawn to a render target, and that render target is not being cleared with the background color.<code>
[code]
</code>

[2016-01-04 09:47] craftworkgames commented on #83
Nice catch! I only implemented the render target stuff recently and I didn't notice this bug. Thanks so much.

Obviously I can fix this myself easily enough, but are you interested in doing a pull request?

[2016-01-05 01:47] craftworkgames commented on #82
I've experimented with both these options quite a bit over the last few weeks and although the immutable shapes seems like a good idea at first; they don't lend themselves well to game development.

It wasn't until I started using them in a real game that I realized mutable classes are the way to go. I've begun the process of cleaning up the shapes code and I should have it all done in the next da

[2016-01-05 01:54] craftworkgames commented on #78
I've turned off pre-prelease from version 0.4 onward.

The incremental CI builds produced by our build system are marked pre-release, but each official release will be normal.

For example, the last official release was 0.4.64.

The build system is currently producing 0.5.11-beta (pre-release). When version 0.5 is officially released the `-beta` will be removed from the NuGet package.

[2016-01-05 01:54] #78 closed

[2016-01-05 01:58] craftworkgames commented on #76
@cupstudio Sorry I didn't comment on this sooner. I've been on holidays.

The code looks pretty reasonable. I'm sure it'll be useful when we can around to sorting this out in MonoGame.Extended. Thanks for posting it.

We should definitely do some profiling. I'm really not sure at this stage how many tiles our tile renderer can currently handle.

[2016-01-05 02:04] craftworkgames commented on #59
I've created a bunch of these interfaces discussed here.

Currently the interfaces are passing around `GameTime`'s but it still bothers me that we don't just pass around `deltaSeconds`. I was thinking as an alternative we could add an extension method to `GameTime` like this:

    public static float GetElapsedSeconds(this GameTime gameTime)
    {
        return (float) gameTime.ElapsedGameTime.To

[2016-01-05 05:04] craftworkgames commented on #19
@Jjagg I really like what you've done here but I've only just come back from holidays and I haven't had time to try it out yet. Hopefully I'll get to it soon.

[2016-01-05 05:19] craftworkgames commented on #47
I made a start on writing a tool with [Astrid Animator](http://dylanwilson.net/introducing-astrid-animator).

I've also got a [list of other tools on my blog](http://dylanwilson.net/list-of-game-development-content-creation-tools) that I wrote a while back.

Of course there's lots more we could do in this area, but one thing at a time.

I'm closing this issue because it's a little too general and

[2016-01-05 05:19] #47 closed

[2016-01-05 05:24] craftworkgames commented on #45
I'd really like to get a discussion forum started this year. Hosting costs of discourse are still an issue unless I can raise some funds some how ([Patreon](https://www.patreon.com/) maybe?)

@tomspilman Another idea I'd like to toss around is getting a sub-forum for MonoGame.Extended within the [MonoGame Community](http://community.monogame.net/) perhaps?

[2016-01-05 10:37] cra0zy commented on #47
Where is the source code for it (if you published it)?

[2016-01-05 13:54] tomspilman commented on #45
@craftworkgames - Done...

http://community.monogame.net/category/extended

... let me know if you need any adjustments to that.

[2016-01-05 15:58] jakethornton47 commented on #83
Done :)

[2016-01-05 23:22] craftworkgames commented on #45
Thanks @tomspilman. I really appreciate it :smile:

[2016-01-06 02:05] #83 closed

[2016-01-06 03:11] #82 closed

[2016-01-06 06:34] cupstudio commented on #76
Hi Dylan @craftworkgames ,

I have created a new Draw method for TiledTileLayer which only draws viewable tiles.  It uses the camera in order to do this, but could also be changed to use a more generic Rectangle.

I used the existing Draw(Camera2D camera) method marked as Obsolete since it seemed to make sense for this example.

Under normal circumstances, the current Draw method will begin to dro

[2016-01-06 06:58] cupstudio commented on #59
I actually like that quite a lot - I think it's a great solution and keeps things in the MonoGame flavor (using `GameTime` in Update).

I have a followup question prompted by the `IDraw` interface.

I've been using `Draw(SpriteBatch spriteBatch)` for my drawable classes.

I remember seeing somewhere (granted, this was very early on in my MonoGame experience) that reducing the number of SpriteBatch

[2016-01-06 14:03] craftworkgames commented on #76
Fantasic! :smile: I'll take a closer look tomorrow and incorporate the changes into the library.

Do you want to do a pull request or shall I just copy and paste the code above?

[2016-01-06 15:15] cupstudio commented on #76
I will do a pull request as I haven't done one before and would like to see the process.

Just a couple of quick thoughts around incorporating into the framework.

* Testing Isometric maps:  I haven't really done much with isometric maps or the isometric functionality in MGE (yet).  Need to test `case TiledMapOrientation.Isometric:` to ensure no compatibility issues with my `Draw` when it hits `Re

[2016-01-06 17:28] cupstudio opened #86 "WindowViewportAdapter"
I wanted to have a viewport adapter that would be based on the GameWindow so that as the window is resized you simply get more content instead of scaling the content.  I've [posted a video demo here](https://youtu.be/fNtnY-uymLI), let me know what you think.

WindowViewportAdapter:

    using Microsoft.Xna.Framework;
    using Microsoft.Xna.Framework.Graphics;
    using System;

    namespace Mono

[2016-01-06 23:23] craftworkgames commented on #86
Isn't this the same behavior as the `DefaultViewportAdapter`?

Are you using MonoGame DX or GL? I do recall an issue with the DX version causing some issues with the viewport adapters. Maybe the `DefaultViewportAdapter` is not working for you as intended?

[2016-01-06 23:42] craftworkgames commented on #76
That's why I asked :wink:

Render order doesn't make a lot of difference if your tile images are exactly the same size as the tile grid but I believe the Tiled map editor supports having tiles larger than the grid. This is when render order becomes important.

Here's the [Tiled github issue](https://github.com/bjorn/tiled/issues/455) with some screenshots explaining some use cases.

What I really

[2016-01-07 03:45] cupstudio commented on #86
Ah sorry, not sure how I missed that.  That is literally the only one I didn't look at but I'm not sure why.  Sorry about that!  One of the things I try to keep in mind is not to add extra work for people by messing things up.  :smile:

[2016-01-07 05:30] craftworkgames commented on #86
No problem. It's an easy enough mistake.

[2016-01-07 05:30] #86 closed

[2016-01-08 06:10] craftworkgames commented on #59
There's certainly some performance concerns having many sprite batches. Although, in my experience the worst thing you can do on a modern GPU is switch textures too often. If you look deep into the implementation (if my memory serves me) of how a `SpriteBatch` works you'll find that when it renders a sprite from a different texture, it actually stops the current batch and starts a new one internal

[2016-01-08 10:24] craftworkgames commented on #47
The source code is not published. I'm not sure what I'm going to do with the tool yet. It's a bit of an experiment.

[2016-01-08 12:27] craftworkgames commented on #76
Completed as part of PR #85

[2016-01-08 12:27] #76 closed

[2016-01-08 12:34] craftworkgames commented on #59
I implemented the [`GameTime` extension](https://github.com/craftworkgames/MonoGame.Extended/commit/6b42a15ab388a8e705e32513035ec8f7aeec43f6). It seems nice.

[2016-01-08 12:34] #59 closed

[2016-01-08 12:45] #45 closed

[2016-01-08 12:45] #28 closed

[2016-01-08 12:48] craftworkgames commented on #2
Closing this issue. If you have another idea for what should go into the library. Raise another issue, post on the [forums](http://community.monogame.net/category/extended) to discuss and / or check the [roadmap](https://github.com/craftworkgames/MonoGame.Extended/wiki/MonoGame.Extended-Roadmap).

[2016-01-08 12:48] #2 closed

[2016-01-08 15:49] WardBenjamin opened #87 "Add forum link to README"
Now that we have a forum, it'd be nice to add a link to the README where it's visible.

I'll be happy to do this tonight when I get home.

[2016-01-08 15:51] cupstudio commented on #59
Awesome!  Thanks for taking the time to add some of that insight.  Right now I am working on updating my forms framework to fully rely on MGE for anything it can so that I can remove a lot of the duplicated functionality.  I will probably continue sharing SpriteBatches for things like buttons and other small controls.  When it comes to scrolling those controls obviously need to start a new SpriteB

[2016-01-09 03:05] craftworkgames commented on #87
Absolutely. I've been meaning to do it but I haven't got around to it yet.

[2016-01-09 11:54] #87 closed

[2016-01-11 20:44] cupstudio opened #89 "Static ServiceLocator class?"
I have found [ServiceLocator] (http://gameprogrammingpatterns.com/service-locator.html) to be a useful way of providing access to shared components within a framework.  The nice thing is you can stick pretty much anything in it and get it back out again somewhere else, with only 1 static class being necessary.  Technically the Locator itself doesn't have to be static, but I prefer that over passin

[2016-01-11 22:56] craftworkgames commented on #89
I've used service locators before. They make sense in certain situations. The problem is that they come with a significant amount of contention. The primary things people complain about when they see a service locator pattern are:

 - [They hide a classes dependencies in the implementation](http://stackoverflow.com/questions/1557781/whats-the-difference-between-the-dependency-injection-and-service

[2016-01-11 23:10] cupstudio commented on #89
One of the big reasons I wanted to bring this up was to learn more about this stuff, and the links you have provided are great.  I am going over Dependency Injection now.

As far as making some MGE components capable of being added to an external Locator, my first thought was for the InputHandlers.  I can add the manager as it is now to my own locator, but then its another hop to get to the actual

[2016-01-15 23:31] cra0zy opened #90 "SVG importer and drawer?"
For anyone who doesn't know, SVG stands for Scalable Vector Graphics, and is created, as the name implies, out of vectors instead of pixels.

[2016-01-16 11:29] craftworkgames commented on #90
Vector graphics are rarely used to make games.

Why do you want this?

[2016-01-16 21:45] cra0zy commented on #90
Not true, anything made in flash is vector based.

Vector based stuff can be scaled without loosing quality.

[2016-01-17 10:08] craftworkgames commented on #90
That's true. Flash is one of the exceptions to this rule. When I said vector graphics are rarely used, what I meant was that not many *game engines* support vector graphics.

There could be a [number of reasons](http://gamedev.stackexchange.com/questions/30111/why-dont-more-games-use-vector-art) for this. I believe it's mostly because a GPU is [not really optimized to render that way](http://progr

[2016-01-17 10:58] craftworkgames commented on #89
The problem with giving them public constructors is that if you construct one yourself, there's currently no way to actually use it with the `InputManager`. The only way to add a listener is to let the `InputManager` construct it for you.

    public T AddListener<T>();
    public T AddListener<T>(InputListenerSettings<T> settings);
    public IEnumerable<InputListener> Listeners;

Of course, we c

[2016-01-18 13:43] pancisin commented on #11
Hi, is it possible to focus more on implemeting object layers ? I need it for my project. It seems to be complicated to parse it myself using monogame.extended pipeline.
Thank you.

[2016-01-18 23:44] WardBenjamin opened #91 "Update README to include v0.4 features"
I actually don't know the complete list of what's been added, but none of it is documented in the readme along with the stuff from v.2 and v.3.

[2016-01-19 05:06] cupstudio commented on #11
I've looked at Object layers recently and will take a stab at it in the next week or two.  If Dylan can expound a little more on where he is with them then it would help to pick it up if he doesn't have time.

A couple of quick things I noticed off the bat:

* It appears most of the ints in TmxObject need to be changed to floats and read accordingly.
* The XML for TMX doesn't look like it creates

[2016-01-19 05:07] cupstudio commented on #89
I worked around that by just saving the resulting listener in a var and adding to my own service locator class with that.  No worries.  :)

[2016-01-19 05:08] craftworkgames commented on #91
Good point. I did write a short [blog post](http://dylanwilson.net/monogame-extended-v0-4-release-notes) about the 0.4 release.

To be honest I kind of lost track of what make it into 0.4, so there might be a few other things. I guess we could check the commits.

[2016-01-19 05:10] craftworkgames commented on #20
Just so everyone knows. I've started working on a GUI system.

[2016-01-19 05:14] craftworkgames commented on #11
Yes, I'm currently busy with #20 so I haven't done any work on the Tiled stuff lately.

@cupstudio if you and @pancisin want to work on this together I'll poke my head in every so often and contribute to the discussion. It would be nice to get Object layers. The Tiled feature is probably the most popular of the whole library so far.

[2016-01-19 15:08] cupstudio commented on #20
I can't wait to see how this looks!!  :smile:

[2016-01-20 23:05] craftworkgames opened #93 "Let's use C# 6.0 (any complaints?)"
How does everyone feel about upgrading the project to C# 6.0 syntax?

I've kept the project in C# 5.0 syntax so that people using Visual Studio 2013 are about to build it from
source.

Basically, I have my Resharper settings configured so that the project is forced to C# 5.0 syntax and fails to build if someone merges C# 6.0 syntax code. This is kind of annoying because there's no way to enforce i

[2016-01-21 00:08] WardBenjamin commented on #93
Sounds good to me!

[2016-01-21 02:36] cupstudio commented on #93
Yay!

[2016-01-23 00:15] cupstudio opened #94 "MouseListener - MouseDragged"
My initial impression of the MouseDragged (without looking at the code) would be that I could hookup with that event to move things around on the screen via the mouse.

After playing with it a bit, it looks like it only triggers once the mouse button is released.  This is ok too, I just need to actually use the `MouseMoved` event and track which object should be moving myself.  (`MouseDown` - sele

[2016-01-23 01:01] craftworkgames commented on #94
I wasn't the original author of the `MouseListener` class so I can't really comment on the intent of the event.

Looking at the code, it looks like the only difference between the `MouseDragged` and `MouseUp` events is that the dragged event only occurs if the mouse moves while the button is being held down. In that sense it appears to be similar to how the [`DragDrop` event](https://msdn.microsof

[2016-01-24 10:54] #94 closed

[2016-01-27 02:10] craftworkgames commented on #19
@Jjagg I finally got around to trying this (sorry I forgot about it).

I modified the parameters a little to make it more interesting. Here's a screenshot. You're welcome to use it on your project page if you like :smile:

![image](https://cloud.githubusercontent.com/assets/3201643/12601656/757a5f98-c4ee-11e5-9639-0a2458420ddb.png)

Anyway, are you interested in integrating this into MonoGame.Exte

[2016-01-27 03:15] Jjagg commented on #19
Cool, no problem! It's a good idea to put it up separately. How do we go about that? I'm not very experienced with any of this :) It's actually fine too if you want to build it and do something with te dll.
I just started working on the project I'm using this for again, so I'll probably update here and there and I definitely plan on making a decent editor.

[2016-01-27 03:41] craftworkgames commented on #19
Awesome. I'm currently working on a GUI system which will take a while but once I'm finished that I'll start thinking about particles.

[2016-01-27 09:27] Matthew-Davey commented on #19
Looking good guys. FYI you don't have to use the Mercury name, you can just integrate the code into your own MonoGame "brand" - just a small mention of Mercury somewhere in the readme smallprint would be appreciated :)

[2016-01-27 09:48] craftworkgames commented on #19
Thanks again Matt. That's a much nicer solution.

[2016-01-30 00:44] stromkos commented on #90
I thought I would weigh in on this topic.

There were arcade games developed that utilized vector graphics.  The monitors had a special control board that accepted **only** vector graphics.  How times have

All motion in Flash is vector based, but what is being moved can be vector or raster based.

The resources required to rasterize a vector image every step would be unwieldy.

That being said, I

[2016-01-30 00:50] craftworkgames commented on #90
Yeah, something like that seems more likely.

Interesting idea. I would be interested to see how well this works, but I'm not going to rush out and do it myself. I just don't think there's enough demand for something like this. Of course, that's just my opinion and I could be very wrong.

Not at all. I think it's great to debate about this stuff.

[2016-01-30 01:26] craftworkgames commented on #91
Done.

[2016-01-30 01:26] #91 closed

[2016-01-30 01:28] craftworkgames commented on #31
It really bugs me that we don't have this yet. I started working on something this morning. It shouldn't take too long :smile:

![image](https://cloud.githubusercontent.com/assets/3201643/12692579/a38e03be-c744-11e5-9d2c-1461f1b3f694.png)

[2016-01-30 01:31] cra0zy commented on #31
What are you using for drawing lines?

[2016-01-30 02:38] stromkos opened #99 "I purpose a change to IMoveable"
I purpose that:
IMoveable  should be renamed IPosition and IMovable should derive from IPosition and contain a Vector2 Velocity.

Rational:
Any drawable or collidable object has a position. A movable object must have a velocity(even if it can be zero).

[2016-01-30 03:23] craftworkgames commented on #31
Currently it's just a quick and dirty approach using a single pixel texture and a `SpriteBatch` from [this library](https://bitbucket.org/C3/2d-xna-primitives/wiki/Home).

However, I'm perfectly aware that it's probably not the most efficient way. I just wanted to get something going.

[2016-01-30 03:34] craftworkgames commented on #99
Technically to be consistent with `IRotatable` and `IScalable` it should probably be called `IPositionable`. That's a [real word](http://www.thefreedictionary.com/positionable) right?

[code]

Interesting idea. Not sure how I feel about it yet. I'll think about it.

[2016-01-30 18:18] LithiumToast commented on #74
I wrote something similar to this idea before. The way I did it was to have a "Broadphase" and a "Narrowphase". The Broadphase uses [Spatial Partitioning](https://en.wikipedia.org/wiki/Space_partitioning) to quickly resolve potential collisions with game entities' [bounding volume](https://en.wikipedia.org/wiki/Bounding_volume). For my 2D implementation I used a [Quadtree](https://en.wikipedia.org

[2016-01-30 18:36] LithiumToast opened #100 "Entity Component System"
What do you guys think of adding an [Entity Component System](https://en.wikipedia.org/wiki/Entity_component_system)?

[2016-01-30 18:53] LithiumToast commented on #99
Also be nice if `IDraw` was renamed to `IDrawable` and `IUpdate` was renamed to `IUpdatable` to remain consistent with the naming of the interfaces. I understand that this would mean they have the same name as the interfaces `Microsoft.Xna.Framework.IUpdateable` and `Microsoft.Xna.Framework.IDrawable` but that's what namespaces are for :)

[2016-01-30 19:28] LithiumToast commented on #31
Did you take a look at the [`PrimitiveBatch`](https://github.com/CartBlanche/MonoGame-Samples/blob/master/Primitives/PrimitiveBatch.cs) class in MonoGame samples? It can be easily extended to draw polygons including circles and rectangles.

[2016-01-30 19:43] LithiumToast commented on #99
I think just `IPosition` would be OK. Is there any cases where `IMovable` is useful?

[2016-01-30 20:21] craftworkgames commented on #74
Absolutely. I'm not really happy with the current implementation. It was more of an experiment than anything else.

Let's start using branches for big features like this. I've had a bad habit of checking into master, but that's gotta change if we want to do regular releases.

[2016-01-30 20:46] LithiumToast commented on #74
Alright cool, I'll work on this. I took a look at the `Shapes` namespace and it looks like I could re-use that for some parts, although I might need to edit code in that namespace for improved clarity / performance. I'll try to keep changes to existing code minimal and necessary and post requests for changes here in advance.

[2016-01-31 10:19] craftworkgames commented on #74
Cool. Take your time with it, just keep me updated every so often.

[2016-01-31 10:20] craftworkgames commented on #99
Not within the library itself.

[2016-01-31 10:32] craftworkgames commented on #31
So I got the [`SpriteBatch` extensions way](https://github.com/craftworkgames/MonoGame.Extended/blob/632caa733c3cb50c64960979cb45f142cc2785e5/Source/MonoGame.Extended/Shapes/SpriteBatchExtensions.cs) working pretty well. There's still some issues with `DrawPolygon` at this stage. It doesn't seem like a particularly efficient way to draw shapes, but if you're just using them for debugging or protot

[2016-01-31 10:46] craftworkgames commented on #100
I wrote an [entity component system](https://github.com/craftworkgames/Astrid.Framework/tree/master/Astrid.Framework/Components) once and part of an old (failed) game framework. It was really fun to write and works pretty well.

Is it a good fit for MonoGame.Extended?  Probably, but we'd have to think carefully about how it fits in with the rest of the framework. I wouldn't want to force it upon p

[2016-01-31 18:54] LithiumToast commented on #74
Here is my plan. I'm going to allow users to choose which algorithm to use for collisions, or create their own via interfaces. I think this is important as some algorithms might work better for certain type of games and not so well for others. I will update this post as I learn more about various algorithms and complete their implementations.

The books I will be using are:
- [Real-Time Collision

[2016-01-31 19:35] cupstudio commented on #99
:+1:  for NOT public setters unless there is something in the framework that requires it.

[2016-01-31 19:43] cupstudio commented on #100
Component is a great pattern, and I've tackled it myself once as an exercise.  The trickiest part for me was communication among the components themselves.  Use a global message queue?  Dependent components get copies of each other?  The entity itself sends and receives messages among its components?  Have all attributes live inside the Entity to be manipulated directly?  There are a lot of option

[2016-02-01 01:28] craftworkgames commented on #74
I've got that book on my shelf :smile:

[2016-02-01 01:45] craftworkgames commented on #100
Yeah, this is always the challenge. I remember trying lots of different designs in my system. From my vague recollection I recall doing something like this that kinda worked pretty well.

   var transform = entity.AddComponent(new TranformComponent());
   var physics = entity.AddComponent(new PhysicsComponent(transform, shape, mass));
   var sprite = entity.AddComponent(new SpriteComponent(transfo

[2016-02-01 02:08] cupstudio commented on #100
If I'm reading that correctly, each component has a copy of any required components needed.

Also, I like the idea of keeping any number of `IEntityComponent`s in a list or similar in the entity (or the entities `ComponentManager` if its complicated enough to warrant such), so you can add multiples of the same base (i.e. multiple AI components or multiple physics / collisions etc).   This gives gr

[2016-02-01 03:51] LithiumToast commented on #100
Something like this? You would call `entityInstance.Components.Get<MyComponent>();` to query if the entity has a component of the specific type.

[code]

I also implemented my own version of ECS. The way I did it was to have a Dictionary<Type, >

[2016-02-01 16:35] LithiumToast commented on #99
I think that interfaces should use adjectives as their names and classes should use nouns. Perhaps there is a better adjective to abstract the `Velocity` property than `Movable`? If not, maybe drop support for abstracting velocity with an interface all together.

[2016-02-01 23:12] beppe9000 opened #101 "Sprite Extension not working as extension when called from Visual Basic"
MonoGame.Extended/Source/MonoGame.Extended/Sprites/SpriteExtensions.cs

The extension methods here are not seen/recognized as extension methods, forcing me to call SpriteExtensions.Draw(myspritebatch, mysprite) instead of mysprite.draw(myspritebatch)...

Is there any workaround/solution?

[2016-02-01 23:37] craftworkgames commented on #101
It works the other way around. The extension method is on `SpriteBatch` not `Sprite`. It's intended to work like this:

    myspritebatch.Draw(mysprite);

I guess the name of the `SpriteExtensions` class is a little misleading. We should probably rename it to `SpriteBatchExtensions` to make it clear. Obviously it'll still live in the `Sprites` namespace so it won't clash with other extensions.

[2016-02-01 23:50] beppe9000 commented on #101
Thanks! Wow, it seemed so natural to ask a sprite to draw itself that i didn't even double check it... I think you should mirror those extensions to the Sprite class, just in case :)

[2016-02-02 03:47] craftworkgames opened #102 "[Tiled] Tiled Map support for "Collection of Images""
This issue came about because of a bug [raised on the forums](http://community.monogame.net/t/content-pipeline-cant-build-tmx-files/6941/3).
### The Problem

The good news is that I managed to reproduce the issue and I understand the problem now :smile:

It turns out that MonoGame.Extended doesn't currently support "Collection of Images" for tilesets.

![image](https://cloud.githubusercontent.com/

[2016-02-02 03:54] craftworkgames opened #103 "Tiled tilesets must be in the same folder as the .tmx file"
Another issue raised on [the forums](http://community.monogame.net/t/content-pipeline-cant-build-tmx-files/6941/4?u=craftworkgames)

### Problem
I would like to place the tileset image into a different folder.

### Workaround
To make it work I just placed the tileset image at the same folder of the .tmx file.

[2016-02-02 05:39] LithiumToast commented on #102
Does MG.Ex use some sort of logging library? Would probably be a good idea to change the Tiled map importer to throw or log a descriptive error if it can't find an expected XML property.

[2016-02-02 06:53] LithiumToast commented on #21
This would be nice for having game objects "inherit" affine transformations (translation a.k.a. position, rotation, scale, shear, reflections) from other game objects. For example having the camera follow a player or specific game object around.

[2016-02-02 10:30] craftworkgames commented on #21
I've been working on the GUI system #20 lately and I can say that having decent scene graph functionality would really help. As I usually do when I'm working on a big feature like this; I like to do plenty of research by reading about how similar systems work in other libraries.

The LibGDX [scene2d.ui](https://github.com/libgdx/libgdx/wiki/Scene2d.ui) is probably the best example of this:

So yea

[2016-02-02 10:37] craftworkgames commented on #102
Not currently. I think logging has it's place, but it also carries a cost. I'm hesitant to introduce a dependency into the core library.

However, the content importers do have built in logging on the context object.

        public override TmxMap Import(string filename, ContentImporterContext context)
        {
            context.Logger.LogMessage($"Importing {filename}");

At the very least th

[2016-02-02 10:48] craftworkgames commented on #101
I guess there's no harm in this if there's simply another extension method that reverses the parameters.

        public static void Draw(this Sprite sprite, SpriteBatch spriteBatch)
        {
            Draw(spriteBatch, sprite);
        }

        public static void Draw(this SpriteBatch spriteBatch, Sprite sprite)
        {
            if (sprite == null) throw new ArgumentNullException(nameof

[2016-02-02 10:52] craftworkgames commented on #100
I really like the way you created an entity component collection class and pass in a reference to the entity. Why didn't I think of that :smiley:

[2016-02-02 15:17] LithiumToast commented on #102
Fair enough.

I didn't know about that. That's perfect for this situtation.

[2016-02-02 15:47] beppe9000 commented on #101
Cool! You fixed a spot for dumb errors!

[2016-02-02 15:52] LithiumToast commented on #100
In my implementation this is so in the `Add` method of `EntityComponentCollection` can create an `EntityComponent` using object pooling and pass the `Entity` instance to the `EntityComponent`. This allows for an `EntitySystem`, when it does something with an `EntityComponent`, to have a reference to the `Entity` instance and query for other `EntityComponent`s.

Here's my `SpriteRenderSystem` which

[2016-02-02 22:10] craftworkgames commented on #100
@LithiumToast I figured it was something like that. Thanks for sharing the details :smile:

[2016-02-02 22:12] #101 closed

[2016-02-02 22:24] craftworkgames opened #104 "[Documentation] Let's Improve the github Wiki"
When I first started MonoGame.Extended I didn't take much notice of the [awesome wiki](https://github.com/craftworkgames/MonoGame.Extended/wiki) functionality that github provides. Instead I posted things like ["How to install MonoGame.Extended"](http://www.dylanwilson.net/how-to-install-monogame-extended) on my blog.

I believe that was a mistake. MonoGame.Extended is open source and the document

[2016-02-02 23:01] craftworkgames opened #105 "Release early, release often"
One of motto's is ["Release early, release often"](https://en.wikipedia.org/wiki/Release_early,_release_often). My plan has always been to do a release every month or so.

So far we've had [4ish releases](https://www.nuget.org/packages/MonoGame.Extended/) (not counting minor bug fixes).

    Version	                                    Downloads	Last updated
    MonoGame.Extended   0.4.64 (this ver

[2016-02-03 00:07] craftworkgames commented on #105
Before we can do this properly I think we need to cleanup `master` and remove anything that shouldn't be there. Fortunately, the project namespaces organized nicely into features.

![image](https://cloud.githubusercontent.com/assets/3201643/12768613/8c24d7e6-ca5c-11e5-8a4f-76c050bb4a33.png)

The features marked with a red dot are my candidates for removal. Here's why:

 **Animations** - the animat

[2016-02-03 02:55] LithiumToast commented on #105
I hoping to get the software design for collisions finished and boilerplate code finished by 1st of next month, but no promises.

[2016-02-03 03:03] LithiumToast commented on #72
If you mean collision geometry I could do that without too much effort. They are all 2D shapes right?

[2016-02-03 04:24] craftworkgames commented on #72
Yeah, let's focus on 2D for now. I'd rather have a good 2D focused library than a kind of okay 2D/3D library.

[2016-02-03 04:29] craftworkgames commented on #93
Cool. I've started doing this.

[2016-02-03 04:29] #93 closed

[2016-02-03 04:32] craftworkgames commented on #105
@LithiumToast No problem. How much have you done?  Do you think i'll be difficult to move it into a feature branch?

[2016-02-03 04:37] LithiumToast commented on #105
@craftworkgames You might as well just create a branch for me if you want, I won't be able to work on it until this weekend.

[2016-02-03 04:39] craftworkgames commented on #105
@LithiumToast Okay I'll do that and let you know. Before I create any branches though I'm going to do some code cleanup.

[2016-02-03 04:58] craftworkgames commented on #99
Okay. So I had a quick look. The only thing in MonoGame.Extended that has a `Velocity` property is the `IActorTarget` in the Collisions feature.

    public interface IActorTarget : IMovable, ICollidable
    {
        Vector2 Velocity { get; set; }
        void OnCollision(CollisionInfo collisionInfo);
    }

To be honest, I'm really not happy with how the whole Collisions feature is working. In l

[2016-02-03 04:58] #99 closed

[2016-02-03 05:00] craftworkgames commented on #89
Okay so this issue has been open for a while now. At this stage I don't see any compelling reason to introduce a service locator. I'm closing this issue.

[2016-02-03 05:00] #89 closed

[2016-02-03 05:57] craftworkgames commented on #72
I'm pretty happy with the shapes we have now.

    CircleF
    PolygonF
    RectangleF
    RectangleExtensions

I'll close this issue..

@LithiumToast When it comes to collision geometry, we'll deal with that when we get to it. Probably don't need to discuss it any further on this issue.

[2016-02-03 05:57] #72 closed

[2016-02-03 06:34] LithiumToast commented on #11
This could probably be a floating point arithmetic problem.

[2016-02-03 06:38] craftworkgames commented on #11
@LithiumToast we've already fixed that. It was a combination of a couple of issues.

[2016-02-03 10:27] craftworkgames opened #106 "[Documentation] VSIX Project Templates"
Turns out I create new MonoGame.Extended projects fairly often these days. Something that gets really annoying is all the setup code, like:
-  adding a reference to the NuGet packages (for both MG and MG.E).
- configuring the `Content.mgcb` and MonoGame Pipeline.
- cleaning out and possibly renaming the `Game1` class.
- setting up the camera and viewport adapters.
- creating a `SpriteBatch` and a

[2016-02-03 12:03] craftworkgames commented on #74
@LithiumToast Okay I've created a branch called `collision-detection` for this feature. The goal is to replace the code in the Collisions folder with something better. Let me know how you go this weekend.

[2016-02-03 12:23] craftworkgames commented on #105
Okay so I've been thinking about how to manage the first round of feature branches.

## First round of feature branches

The first thing I did was move the **Gui** & **Screens** code into a branch called `gui-system`. This has already been done and `master` no longer has this code.

I thought about removing **Animations** and **Collisions** from master also, but I think that's a bad idea until we

[2016-02-03 12:43] LithiumToast commented on #105
For collisions I will eventually get around to implementing algorithms for finding convex hulls for a "soup" of vertices. (The convex hull will be the collision geometry). It would be awesome if could setup a testing playground to watch the algorithm work in action. The demo idea could work well for this if use the gui library to have game screen menu for selecting tests, kinda like how Farseer Ph

[2016-02-03 23:31] craftworkgames commented on #44
I'm working on a gui system so I don't think we need to keep this issue around.

[2016-02-03 23:31] #44 closed

[2016-02-04 00:11] rafaelalmeidatk commented on #103
I solved this issue changing the tileset image path in the .tmx file, but after I figured out that the Tiled already do this automatically. So, with this simple folder structure:

![Folder structure](http://i.imgur.com/rZW0EBm.png)

You select the `basictile.png` as tileset in Tiled and the path is automatically changed to `../imgs/tilesets/basictile.png`, like that:

    <image source="../imgs/ti

[2016-02-04 01:04] craftworkgames commented on #103
Okay. So do we need to do anything or can this issue be closed?

[2016-02-04 01:46] rafaelalmeidatk commented on #103
Can be closed, the process is all made by Tiled.

[2016-02-04 02:04] #103 closed

[2016-02-04 05:17] craftworkgames opened #108 "[Documentation] Generate API documentation"
At some point we may want to start generating some MSDN style documentation for the library.

I'm not really sure which [documentation generator](http://stackoverflow.com/questions/641364/c-sharp-documentation-generator) we should use? Anyone have experience with this stuff? One that's not mentioned on that list is [sharpDox](https://github.com/Geaz/sharpDox) which I've used, but it was only kind

[2016-02-04 16:29] Kserol opened #109 "Load content on monogame-UWP"
Hi,

i can't load custom content (tileMap, animation) in a monogame-Uwp project.
I catch : "ContentLoadException: Could not load Tilesets/level01 asset as a non-content file! "

I build content with MonoGame Pipeline GUI:
![image](https://cloud.githubusercontent.com/assets/2233539/12821548/2083fe00-cb64-11e5-9e60-1138d74592bb.png)

how do I debug this?

[2016-02-04 16:46] LithiumToast commented on #109
@Kserol If I remember correctly there should be an inner exception to the `ContentLoadException` which is more informative of what went wrong exactly. Could you check to see if there is an inner exception, and if so, post it here?

[2016-02-04 20:17] rafaelalmeidatk commented on #21
I have done a simple screen base and transition between they to my game, maybe this can be used as base? Every screen have their `LoadContent`, `UnloadContent`, `Update` and `Draw`. However, there need to have a SceneManager to handle the transitions, what make me think that the Template you talked about is the way to go for the Extended library.

[2016-02-04 21:59] craftworkgames commented on #21
@rafaelalmeidatk Do you mean something like [this](https://github.com/craftworkgames/MonoGame.Extended/tree/gui-system/Source/MonoGame.Extended/Screens)?

I've created [`gui-system`](https://github.com/craftworkgames/MonoGame.Extended/tree/gui-system) and [`scene-graph`](https://github.com/craftworkgames/MonoGame.Extended/tree/scene-graph) branches to work on these features. To be honest, there's

[2016-02-04 22:03] craftworkgames commented on #109
Are you getting the error from the MonoGame Pipeline tool or from your own code when you call `Content.Load<TiledMap>`?

[2016-02-04 22:58] rafaelalmeidatk commented on #21
Yeah, exactly like that. Well, it's the first time I contribute to a repo, I don't know what to do xD

[2016-02-04 23:07] craftworkgames commented on #21
Github is promoting [this awesome tutorial](https://guides.github.com/activities/hello-world/) at the moment they like to call *Hello World*. I went through it the other day, it's pretty helpful to get started.

[2016-02-04 23:52] craftworkgames opened #111 "Allow drawing Tiled Maps with your own SpriteBatch"
It would be nice to make some improvements to the TiledMap renderer to allow maps to be drawn using your own `SpriteBatch` as an alternative to having one created by the layer.

@cra0zy submitted [a PR](https://github.com/craftworkgames/MonoGame.Extended/pull/110) about this recently but there's still more work to do.

There's a few ways we could do this, maybe some `TiledMap.Draw` overloads that

[2016-02-05 05:22] craftworkgames opened #112 "TiledMap.Draw doesn't work with the BoxingViewportAdapter"
There seems to be an issue raised by @rafaelalmeidatk on [the forums](http://community.monogame.net/t/apply-boxingviewportadapter-to-the-entire-game/6976/5) that prevents the `BoxingViewportAdapter` to work correctly with `TiledMap.Draw`.

I would expect all you need to do is setup the camera to use the viewport adapter like this:

    var viewportAdapter = new BoxingViewportAdapter(GraphicsDevice

[2016-02-05 07:49] Kserol commented on #109
@craftworkgames on Content.Load<TiledMap>(...)
@LithiumToast Thanks ! i can fix it with the InnerExecption.

It's all my fault.
Like Monogame.Extended nuget package isn't compatble with UWP project, I create  a new project  "MonoGame.Extended.**Uwp**" targeting  Universal Windows.
When Content.Load() try to load  "MonoGame.Extended" (by reflection) he fail. Can't find assembly.
Rename  the ouput o

[2016-02-05 10:14] craftworkgames commented on #109
No problem. I'm glad you got it working. It's always good to know how people are using the library.

[2016-02-05 10:14] #109 closed

[2016-02-05 12:40] #112 closed

[2016-02-05 12:41] craftworkgames commented on #112
Fixed.

![image](https://cloud.githubusercontent.com/assets/3201643/12846677/8dfcdb28-cc59-11e5-93a4-1673d47550d3.png)

[2016-02-05 16:42] cupstudio commented on #111
I can take a look at this since I was working on this method before.  What branch do I PR to?  I know we don't want to keep using master (which I heartily agree with).

Some of the options as I see it:

*  "Small Feature Branch"
*  Milestone / Release Branch
* Add TiledMaps branch

[2016-02-05 17:51] cupstudio commented on #106
Would love this!

[2016-02-05 18:14] cupstudio commented on #111
Looking for feedback on this... something smells wrong to me, but maybe this isn't as abnormal as I'm thinking.

[code]

Also, I don't really like using bools that much in methods, so we could make a special enum or something for custom vs private spriteBatches if that makes sense.

[2016-02-05 18:15] cupstudio commented on #111
Also, I don't really like using bools that much in methods, so we could make a special enum or something for custom vs private spriteBatches if that makes sense.

[2016-02-05 19:18] LithiumToast commented on #111
Why not use add this code to the SpriteBatch extensions?

[2016-02-06 01:16] LithiumToast commented on #74
@craftworkgames I'm working on bounding volumes and I'm not sure if they are better off residing in the `shapes` namespace or a `BoundingVolumes` namespace under the `collision` namespace. See #115

[2016-02-06 01:17] rafaelalmeidatk commented on #21
So, how do you plan to it be used? Mine `ScreenManager` is a singleton class (to prevend have more than one screen at the same time) and in the `Game1.cs` I place the `ScreenManager` methods to handle everything, like `ScreenManager.LoadContent()`, `ScreenManager.Update()`, etc.

[2016-02-06 01:51] craftworkgames commented on #74
Either `Shapes` or `Collisions` is fine with me for the moment. We can always refactor it before release if it doesn't quite fit. I wouldn't create a `BoundingVolumes` namespace, that'll just be confusing I think.

Great work so far. Would you like me to regularly merge the PR's into my branch? I probably won't have a lot of time to help but I'd be happy to take a closer look and give you feedback

[2016-02-06 01:59] craftworkgames commented on #21
A this stage I'm still figuring that out. I'm doing lots of research into how other game frameworks do similar things. [LibGDX scene2d and scene2d.ui](https://github.com/libgdx/libgdx/wiki/Scene2d.ui) is a pretty good example.

I'm not a fan of singleton classes. They are difficult to test and are often considered a bit of a code smell. In most cases, it's kind of obvious that you wouldn't create

[2016-02-06 02:16] LithiumToast commented on #74
I'm hesitant to clutter the the `Collisions` namespace right now with different bounding volumes as there are a few different types of bounding volumes I will be creating over time. I'm thinking it's probably best if they went in the `Shapes` namespace, cause they are shapes after all and could possibly be used by someone outside the context of collisions (for whatever reason).

[2016-02-06 04:35] craftworkgames commented on #74
I agree. Glad to see you thinking about this stuff.

[2016-02-06 06:17] craftworkgames commented on #21
I made a car with the new scene graph feature :smile:

![car-scene-graph-demo](https://cloud.githubusercontent.com/assets/3201643/12865050/056d1cca-cced-11e5-81bf-a1fd4a4c0b43.gif)

[2016-02-06 06:35] rafaelalmeidatk commented on #21
@craftworkgames Sure, check [here](https://github.com/rafaelalmeidatk/Super-Pete-The-Pirate/blob/master/Peter%20The%20Cat/Managers/SceneManager.cs) the code. What you said makes sense, restrict it is bad. I have the feeling that I'm at the wrong issue discussion, this one is only to the graphs or the entire system?

[2016-02-06 09:53] craftworkgames commented on #21
I can understand your confusion. There's a few different related discussions going on.

This one is specifically about the "scene graphs" feature. There's also one about the "GUI system" #20 (hopefully that's what you mean by *entire system*?)
They are related because I'm going to use the scene graph feature to build the GUI system. I need to finish scene graphs before I can finish GUI.

[2016-02-06 17:43] LithiumToast opened #117 "Object Pooling"
I'm going to need object pooling for collisions at some point: objects will have the ability to be added/removed from collision world at any time for any reason. I think Entity Component System #100 and Particles #19 would also benefit from object pooling.

I propose using a [`Stack<T>`](https://msdn.microsoft.com/en-us/library/3278tedw(v=vs.110).aspx) as the internal data structure for the object

[2016-02-06 17:59] rafaelalmeidatk opened #118 "WidthInPixels returning wrong width"
The property `WidthInPixels` of `TiledMap` is returning the wrong width. If the map have 10 tiles (32x32 each), the width is supposed to be 320px, right? But the return is 310px (the supposed width - 1 * tiles). Maybe [this](https://github.com/craftworkgames/MonoGame.Extended/blob/develop/Source/MonoGame.Extended/Maps/Tiled/TiledMap.cs#L68) commentary is not being applied?

[2016-02-07 10:30] craftworkgames commented on #118
I actually fixed this up last night in the `tiled-maps` branch. This code got missed when we fixed an old issue a while back.

[2016-02-07 10:30] #118 closed

[2016-02-07 10:34] craftworkgames commented on #117
Yes, I agree object pooling would be useful for a few things in the library. Maybe in a `Collections` namespace?

[2016-02-07 14:55] whilke opened #119 "SpriteSheetAnimator is a shared content object"
The current design of SpriteSheetAnimator is causing the animator to be shared across any instances accessed from the content pipeline. This prevents different objects trying to use the same SpriteSheetAnimator content but with different animations/states/etc.

Should refactor so that you retrieve a content based object from the content pipeline, which you can then instantiate an SpriteSheetAnimat

[2016-02-07 15:16] whilke commented on #119
This is how I'm working around the problem right now:

`public static SpriteSheetAnimator Clone(this SpriteSheetAnimator obj)
        {
            var regions = obj.Frames;

            var sprite = new Sprite(regions.First());
            var newAnimator = new SpriteSheetAnimator(sprite, regions);

            var anType = typeof(SpriteSheetAnimator);
            var animationField = anType.GetF

[2016-02-07 17:50] LithiumToast commented on #117
@craftworkgames I think that's a good idea to have a `Collections` namespace. There are other data structures such as trees (quadtree, octrees) that I will eventually get added to MG.Ex that are candidates to reside in the `Collections` namespace.

[2016-02-07 18:09] LithiumToast commented on #117
[Here is a good article](http://gameprogrammingpatterns.com/object-pool.html) about object pooling directly from the book [Game Programming Patterns](http://gameprogrammingpatterns.com).

[2016-02-07 23:52] craftworkgames commented on #119
Yes, I agree this is a bug. I actually ran across it myself a couple of weeks ago and started working on it but forgot to raise an issue and completely forgot about it. My bad. Thanks for raising the issue.

I guess it should work in much the same way you'd load a texture and render multiple sprites with it.

    var texture = Content.Load<Texture2D>("texture");
    var sprite1 = new Sprite(textur

[2016-02-08 00:52] WardBenjamin commented on #119
I think a good name for the content itself would be SpriteSheetAnimation or SpriteAnimation. Other than that, I like it.

[2016-02-08 01:16] craftworkgames commented on #119
The way it currently works is that there's multiple animations per "content" file. For example:

[code]

The sprites are packed into a texture atlas and the animations are lists of "frames" within that sprite sheet.

I agree that the word `Group` feels a little wrong but calling the content `SpriteSheetAnimation` is misleading. It's not just one animation.

[2016-02-08 02:12] LithiumToast commented on #119
Separate it out? Decouple the `Animation` from the 'SpriteSheet`?

[2016-02-08 03:04] craftworkgames commented on #119
How to do you propose we do that?

[2016-02-08 05:58] LithiumToast commented on #119
Hmm. I'm going to think about this from the bottom up. The `Sprite` needs a `Texture2D` and a source `Rectangle` to render with a `SpriteBatch`. It looks like `TextureAtlas` is just a map of source `Rectangle`s by index and `String` names. So maybe copy the source `Rectangle`s from the `TextureAtlas` to the `Animation` when it is loaded so the `SpriteAnimator` can copy the source `Rectangle` of th

[2016-02-08 06:28] craftworkgames commented on #117
That's a really good article. It makes me think we need a couple of different types of pools (or a configurable one) that:
 - prevents a new object from being added if it's full
 - replaces the oldest object in the pool (or cycles through a stack)
 - replaces an object that matches a user specified criteria.

Also, since we are in a managed memory world we should consider this:

[2016-02-08 06:46] LithiumToast commented on #117
In C# we can also use take advantage of the garbage collector and the disposable pattern to return an object back to the pool instead of being garbage collected.

[2016-02-08 09:53] craftworkgames commented on #119
I like where you're going with this but I think we still need to support storing multiple animations in single content file. Maybe something more like this:

    var animationCollection = Content.Load<SpriteSheetAnimationCollection>("zomie-animations");
    var walkAnimation = animationCollection.Get("walk");
    var animator = new SpriteAnimator(walkAnimation);

If we did it the other way, you'd

[2016-02-08 10:58] craftworkgames opened #120 "The great `Draw` method overhaul"
So it turns out we actually have a **lot** of different `Draw` methods in MonoGame.Extended. Most of them are `SpriteBatch` extensions but there's a few (at the bottom) that are inconsistent.

This list is written from the point of view of what it looks like when you're *calling* the method. In other words, the sprite batch extensions are prefixed with `spriteBatch` and the others are called direc

[2016-02-08 14:00] whilke commented on #119
Please don't limit your SpriteAnimator to a single animation. Think about how this is going to be used in development.

You're going to attach an animation controller to your render object. You want that animation controller to play different animations (walk/run/jump/etc). The AnimationCollection has that right now, and making the SpriteAniamtor the controller into different animations is the log

[2016-02-08 16:03] LithiumToast commented on #119
@craftworkgames Okay yes I see. It's definitely better to have one file where some or all the sprite animations reside so they can be logically grouped. Maybe have a `SpriteAnimation` and a `SpriteAnimationCollection` for that purpose? I don't think the `SpriteAnimator` should know whether the `SpriteAnimation`s are grouped into a `SpriteAnimationCollection`. I think the `SpriteAnimator` should be

[2016-02-08 16:36] LithiumToast commented on #120
If we had a `ISpriteBatchDrawable` couldn't we also create a `SpriteBatch` extension that takes a `ISpriteBatchDrawable` as it's parameter? Something like this? Hopefully it get's inlined by JIT compiler.
[code]

Would be ideal but looks like their might be some corner cases.

It's probably OK. I don't think people should be forced to use an extension method to draw their stuff. Though it's probab

[2016-02-08 18:26] LithiumToast commented on #117
The following is quoted from [Writing Faster Managed Code: Know What Things Cost](https://msdn.microsoft.com/en-us/library/ms973852.aspx)

(Exception: finalizable dead objects are a special case. GC tracks those, and specially promotes dead finalizable objects to the next generation pending finalization. This is expensive, and in the worst case can transitively promote large dead object graphs. Th

[2016-02-08 23:27] craftworkgames commented on #119
Yes, I think that's the key point here. We need to design it so it fits the purpose. I've already seen examples of where it's used with multiple animations so it's certain that we need to support that.

@whilke I won't get to this for a while, if you want to take a look at it I can create a branch and you can have a go at fixing it up the way you think it should be?

[2016-02-08 23:29] craftworkgames commented on #119
The branch is called [sprite-sheet-animations](https://github.com/craftworkgames/MonoGame.Extended/tree/sprite-sheet-animations). If you don't get to it I'll add it to my to-do list.

[2016-02-08 23:34] craftworkgames commented on #117
You might want to also look at the [Mercury Particle Engine](https://github.com/Matthew-Davey/mercury-particle-engine/blob/develop/Mercury.ParticleEngine.Core/ParticleBuffer.cs). It appears to be well optimized.

Just be careful using unmanaged code if you can help it. We need MonoGame.Extended to work on many platforms and I really don't want to be the one unpicking code that doesn't work on Andr

[2016-02-08 23:45] craftworkgames commented on #120
Good idea. Of course, this means the `Draw` implementation moves to inside the class itself in most cases. This is probably okay.

I think a very specific `ISpriteBatchDrawable` interface makes sense. It's a common enough requirement to have a `Draw` method that takes a `SpriteBatch` as a parameter. Once you start working without sprite batches (in 3D) things get a little hairy. MG.Ex isn't curren

[2016-02-08 23:49] LithiumToast commented on #117
@craftworkgames Well, we can't even enable the "use unsafe code" in portable class libraries so we can't do any unmanaged stuff really.

[2016-02-08 23:51] craftworkgames commented on #111
I raised a new issue #120 that covers this one. I also started working on it in the [`tiled-maps`](https://github.com/craftworkgames/MonoGame.Extended/tree/tiled-maps) branch when I was in there fixing a different bug.

Sorry @cupstudio I didn't realize you'd already started. You're welcome to join me in the branch. Have a read of #120 and take a look at what I've done so far.

[2016-02-08 23:53] LithiumToast commented on #120
e
I see, well I guess it's best to use it one way in the library for consistency and let people choose which way they prefer in their code.

[2016-02-08 23:56] craftworkgames opened #121 "[Documentation] Create a CONTRIBUTING.md guide"
The MonoGame has recently been working on a [CONTRIBUTING.md](https://github.com/mono/MonoGame/pull/4500) guide that looks quite nice. [Tom said](https://github.com/mono/MonoGame/pull/4500#issuecomment-180458263) we are welcome to create a similar guide for MonoGame.Extended so I'm just raising this issue so we don't forget.

[2016-02-10 01:57] rafaelalmeidatk opened #122 "Tiled doesn't work when the tileset image is the wrong dimensions"
I will try to explain the bug the max I can. I am using this tileset:

![Tileset](http://i.imgur.com/I34opCt.png)

In Tiled, I fill the ground with the second tile, like this:

![Ground](http://i.imgur.com/OnZVmQf.png)

So, I fill the bellow the ground with the fifth tile of the second row:

![Ground 2](http://i.imgur.com/3JGoBxu.png)

Seems fine, but when I test in the game, this is what happens:

[2016-02-10 03:43] craftworkgames commented on #122
Are you using Layers?

What version on MonoGame.Extended are you using? There's been a lot of bug fixes in the code recently.

Have a try with the code in the [`tiled-maps`](https://github.com/craftworkgames/MonoGame.Extended/tree/tiled-maps) branch.

[2016-02-10 03:58] rafaelalmeidatk commented on #122
Builded the code in the `tiled-maps` branch but the error still occurs. The layers:

![Layers](http://i.imgur.com/P7xV9IM.png)

The error occurs in any layers.

@off: Before using the updated branch, I coded the map draw like this:

    _tiledMap.Draw(spriteBatch, camera);
    spriteBatch.Begin(transformMatrix: camera.GetViewMatrix());
    [... draw stuff]

New I need do this;

    spriteBatch.Beg

[2016-02-10 04:32] craftworkgames commented on #122
It's correct enough for the moment. I'm still working on it. There's a discussion about the `Draw` methods in #120.

In that case I'm not sure what the problem might be. If you can provide a copy of a TMX file and tileset that reproduces the issue I'll take a look at it later.

Alternately, you can have a go a debugging the issue yourself. You've already got the `tiled-maps` branch so you're halfw

[2016-02-10 04:58] rafaelalmeidatk commented on #122
The .tmx file: http://pastebin.com/0RQBUJ0G
tile.png: http://i.imgur.com/ZBsV5M5.png
The hills.png you already have.

I will try fix later, if I find something interesting I notify you (or just submit a PR).

[2016-02-10 05:55] rafaelalmeidatk commented on #122
Wow, what a stupid problem xD
The tileset file is not multiple of 32 (the tile size), I will do a PR on my mind to fix it and no happens again, haha. Thanks for the support.

[2016-02-10 05:57] craftworkgames commented on #122
Awesome. So what's the fix?

[2016-02-10 06:01] rafaelalmeidatk commented on #122
If the tile size is 32x32 your tileset file need have a grid of 32x32, my image had a broken grid:

![screenshot_7](https://cloud.githubusercontent.com/assets/11896398/12939801/b1e23020-cfaa-11e5-9422-98aef6e6f90e.png)

I just cut it and everything worked.

[2016-02-10 06:05] craftworkgames commented on #122
Yep fair enough. But I think MonoGame.Extended should probably handle this situation differently. The way I see it we've got 3 options:
 - throw an exception at the Pipeline to prevent this content from ever being processed.
 - throw an exception at `Content.Load`
 - load the content anyway and handle rendering the tiles properly (the same way the map editor does it)

In the first 2 cases I think

[2016-02-10 06:35] rafaelalmeidatk commented on #122
I like the first or second approach, if something is wrong it can't go ahead. In the future it can raise a bigger problem. I will do the second approach and submit the PR.

[2016-02-10 10:56] craftworkgames commented on #122
Turns out this issue runs a little deeper than we thought. The tileset image can be larger than an exact multiple of the tilesize in some cases. I assume it's because of spacing and margin's but for now I'm just going to reopen this issue and have a think about it.

[2016-02-11 01:58] LithiumToast commented on #73
Please disregard my commit reference :sweat:

[2016-02-11 04:33] rafaelalmeidatk opened #125 "[Tiled] Work on Object Layers"
I need use the object layers but they haven't been implemented yet. How can I work on this? I am trying to understand the [TileMapReader.cs](https://github.com/craftworkgames/MonoGame.Extended/blob/develop/Source/MonoGame.Extended/Maps/Tiled/TiledMapReader.cs) but I can't understand the `ReadInt32()` or other read stuff. Where I begin?

[2016-02-11 04:40] craftworkgames commented on #125
Okay cool.

So the `TiledMapReader` and `ReadInt32()` are part of how custom content importers work in MonoGame / XNA. A while ago I created [a tutorial](http://dylanwilson.net/creating-custom-content-importers-for-the-monogame-pipeline) on how to build custom content importers with MonoGame.

Essentially, you'll need to implement the bits for the the Content Pipeline first. For example, the `Tile

[2016-02-11 05:16] rafaelalmeidatk commented on #125
Ok, I think I got it. I see that you have done half of the way. How can I debug the `TiledMapWriter`?

[2016-02-11 05:21] craftworkgames commented on #125
Yes, debugging these things is rather difficult.

The only way that I've found that works kind of okay is unit tests. I've got some [Tiled Map Importer tests](https://github.com/craftworkgames/MonoGame.Extended/blob/develop/Source/MonoGame.Extended.Content.Pipeline.Tests/TiledMapImporterProcessorTests.cs) already that you should be able to use.

You should be able to put a break point in the test

[2016-02-11 05:33] rafaelalmeidatk commented on #125
Nice. I have a question. In the `TiledMapReaded` you iterate through the layers:

    for (var i = 0; i < layerCount; i++)
    {
        var layer = ReadLayer(reader, tiledMap);
        ReadCustomProperties(reader, layer.Properties);
    }

But how you store them?

[2016-02-11 05:39] craftworkgames commented on #125
When you pass a list into a method it gets passed by reference.

        private static void ReadCustomProperties(ContentReader reader, TiledProperties properties)
        {
            var count = reader.ReadInt32();

            for (var i = 0; i < count; i++)
                properties.Add(reader.ReadString(), reader.ReadString());
        }

So in this case, when you call `ReadCustomProperties

[2016-02-11 05:44] craftworkgames commented on #125
I think the reason I did it that way was to maintain a private setter on the Properties properties.

    public TiledProperties Properties { get; private set; }

If you did it the other way we'd have to change them to public setters, meaning they could potentially be set to `null` by accident. Maybe that's not a big deal, but that's the thinking.

[2016-02-11 05:45] rafaelalmeidatk commented on #125
The second way is more understandable, but I think the first is acceptable, there's nothing wrong changing directly the list.

[2016-02-11 06:48] rafaelalmeidatk commented on #125
I wrote all the stuff to read the objects, but I cant build the .tmx file. Even before I do any change in the code, I receive this error:

The line 438 of the .tmx is this:

    <object id="5" gid="26" x="117.818" y="751.879" width="128" height="128"/>

Context:

    <objectgroup name="Objects Layer 1">
     <object id="5" gid="26" x="117.818" y="751.879" width="128" height="128"/>
     <object id

[2016-02-11 07:14] rafaelalmeidatk commented on #122
I removed my code in #126. You are correct, the approach is incorrect and I was unable to run the TiledMaps Demo.

[2016-02-15 10:39] craftworkgames commented on #104
I started moving some of my tutorials over from my blog to the github wiki. I think this is a better place for them so that everyone has the ability to edit and improve them.

Anyone want to do some proof reading? :+1:

[2016-02-15 16:38] LithiumToast commented on #104
@craftworkgames For the roadmap I see Mac OS is not a supported platform? I use a Mac as my development machine and virtualize Windows just to get Visual Studio + ReSharper :smile:. Xamarin Studio + MonoGame 3.4 + MonoMac seem to work fine for MG.Ex with the Sandbox game code as it is right now. There isn't any zombie drawing since it's commented out but the tiled map draws and the camera can zoom

[2016-02-15 16:40] WardBenjamin commented on #104
Huh. Does anyone remember why OSX wasn't a supported platform in the first place?

[2016-02-16 00:25] craftworkgames commented on #104
@LithiumToast There's no particular reason I didn't add it to the list. I just hadn't tested it and didn't know anyone had already got it working. Please update the wiki with this new info.

[2016-02-18 17:01] LithiumToast commented on #74
@craftworkgames I see there is a `GetBoundingRectangle()` for `IShapeF`. I'm thinking of adding a `GetBoundingVolume<TBoundingVolume>() where TBoundingVolume : IBoundingVolume` to `IShapeF`. `IBoundingVolume` will then be `AxisAlignedBoundingBox2D` or later implemented bounding volumes. This way I could use `IShapeF` as the collision geometry interface for collision world bodies.

[2016-02-19 00:01] craftworkgames commented on #74
On the surface it sounds reasonable. You're welcome to do it and I'll code review.

Btw.. where are you doing this work? I don't see a fork of the repo on your profile.

[2016-02-19 00:52] LithiumToast commented on #74
@craftworkgames https://github.com/LithiumToast/MonoGame.Extended

I'm going to delete all my commits on my fork and make meaningful commits for each piece of code then do a pull request when I have something functional and fairly stable.

[2016-02-19 00:56] craftworkgames commented on #74
I wouldn't panic about it too much. I don't really care if the commits are meaningful or chaotic. There's really no benefit to wasting your time fixing this stuff up. At the end of the day it's final code that matters and even then it's never going to be perfect.

[2016-02-25 09:50] craftworkgames opened #130 "Add an implementation of PrimitiveBatch"
There's a few different versions of `PrimitiveBatch` floating around for drawing basic shapes.

 - There's a good one in the [Farseer Physics Debug Renderer](http://farseerphysics.codeplex.com/SourceControl/latest#DebugViews/DebugView MonoGame/PrimitiveBatch.cs)
 - There's an [Xbox Live Code Sample](http://xbox.create.msdn.com/en-US/education/catalog/sample/primitives)
 - There's also one in [this

[2016-02-25 18:22] LithiumToast commented on #130
I think it would be a good idea for `PrimitiveBatch` not to have the code for drawing shapes like I did with my implementation. There is already the `Shapes` namespace where the `PolygonF` could be used as input to the `PrimitiveBatch`. I guess the only thing missing is that each `IShapeF` needs someway to convert to a `PolygonF` so the `IShapeF` can be drawn with the `PrimitiveBatch`.

[2016-02-25 22:04] craftworkgames commented on #130
Yeah, that's not a bad idea. I guess it would work just like `SpriteBatch` extensions but they would be extension methods on the `PrimitiveBatch` instead.

I think it makes sense to add a `ToPolygonF` method to the `IShapeF` interface since every shape can be converted to a polygon. However, I think it's an implementation detail that the `PrimitiveBatch` calls this method internally. It may not do

[2016-02-25 22:12] craftworkgames commented on #130
Oh I just had another thought based on what you said before.

It seems the `PrimitiveBatch` is not really about drawing shapes. It's about drawing anything and it could also be used as an alternative way to draw Sprites. The benefit would be that it's actually drawing them in 3D space and could provide some interesting ways to rotate and skew them in the third dimension. Kinda like how the [cards

[2016-02-25 22:19] craftworkgames commented on #106
This looks like a tutorial for exactly what we want to do here:

https://msdn.microsoft.com/en-us/library/dd997148.aspx

I've also created [a project template for developers](https://github.com/craftworkgames/MonoGame.Extended/tree/develop/ProjectTemplates) working on the library to create Demo projects. I used this to bring all the demos over from the samples repo. I think this is easier to manag

[2016-02-25 22:32] #31 closed

[2016-02-25 22:47] LithiumToast commented on #130
I think having a vanilla `PrimitiveBatch` which is extended via extension classes is best. People can add there own extension methods for their specific uses in their games.

We might as well implement the `PrimitiveBatch` for 3D and create an extension for sprites and other 2D things to use it directly. I think this would make the most sense as handling game drawing code between a `SpriteBatch` a

[2016-02-25 23:03] craftworkgames commented on #130
The way I see it they have a choice. They can continue to use `SpriteBatch` as they have always done or they can use the new `PrimitiveBatch` as an alternative.

[2016-02-25 23:04] craftworkgames commented on #125
I think the only thing left to do on this is add it to the Tiled Maps demo project.

[2016-02-25 23:23] LithiumToast commented on #130
I think that's a good idea. It would probably be cool if the `PrimitiveBatch` could be configured to add and hold a buffer of different type of vertex data. I'm sure not all games will want use the same type of vertex data. The "texture, color, position" might be a common type of vertex data, but I don't think we should force people to hold on to a buffer of that type and never use it.

[2016-02-26 03:23] LithiumToast commented on #130
Oh, I just remembered about boxing struct values via interfaces... We should not have the `PrimitiveBatch`  accept an `IShapeF` as parameter for drawing unless we use a generic parameter.
Something like this
[code]

Same thing applies to extensions

[2016-02-28 04:56] LithiumToast commented on #130
Scratch the buffer of different types of vertex data. I'm thinking of having each instance of `PrimitiveBatch` specify the type of vertex data it will use. Something like

[code]
Then we could create our own `SpriteBatch` implementation would be a wrapper for a `PrimitiveBatch<VertexPositionColorTexture>`. For collision detection debug drawing I don't really care about having textures so I would p

[2016-02-28 07:02] LithiumToast commented on #130
Just to be consistent with `SpriteBatch` we should implement different "sorting techniques" like what is available with `[SpriteSortMode](https://msdn.microsoft.com/en-ca/library/microsoft.xna.framework.graphics.spritesortmode.aspx)`.

`Deferred`: Each `Draw` call adds a render operation to a list. When `End` is called the list is iterated and for each item in said list, the `GraphicsDevice.DrawPr

[2016-02-28 23:09] LithiumToast commented on #130
Real Time Collisions, the book I'm using for the collision detection feature, wrote about how to do this type of sorting for z-order, texture and other stuff [here](http://realtimecollisiondetection.net/blog/?p=86). His proposal was to mark each type of draw call with one or more bit values. This value of bits becomes the sorting key for deferred rendering.

[2016-02-29 01:08] craftworkgames commented on #130
All good ideas. I'm interested to see what you come up with.

[2016-02-29 10:45] craftworkgames commented on #111
Completed in #131

[2016-02-29 10:45] #111 closed

[2016-03-03 07:31] LithiumToast commented on #130
I got permission from Cygon to base our `PrimitiveBatch` off of his `PrimitiveBatch` from the [Nuclex Framework](https://nuclexframework.codeplex.com). Will work on that no later than this weekend.

[2016-03-03 09:53] craftworkgames commented on #130
Awesome. How did he contact you? Can you post it or link to it here?

[2016-03-03 10:00] kreynes opened #132 "Swtich TiledTile from class to struct to raise performance"
There was a discussion held in the MonoGame.Extended gitter regarding the topic of switching TiledTile from a class to a struct as it may, or may not increase the performance, as, generally, it fits the criteria of a struct. I've attached a 500x500 tiles map, each tile is 16x16 pixels. Without any culling, this map has brought my CPU usage up to 96%, and it could be a good subject to testing wheth

[2016-03-03 17:40] LithiumToast commented on #130
@craftworkgames https://twitter.com/lustranks/status/705198402858921984

[2016-03-03 17:59] LithiumToast commented on #132
It's just worth mentioning that the "`struct` vs `class`" topic is slightly different when developing games instead of business applications. For games, it is OK (not great) to make `struct`s mutable for performance reasons if the design merits it. Example: if `Matrix` was immutable and you want to change a few values in your `Matrix`, you would need to copy the whole `Matrix` (copying all the val

[2016-03-03 19:04] LithiumToast commented on #130
@craftworkgames [pdf email transcript](https://github.com/craftworkgames/MonoGame.Extended/files/157479/Re.Can.I.develop.some.open.source.code.based.on.N.-.Lucas.Girouard-Stranks.pdf)

[2016-03-04 07:35] craftworkgames commented on #132
@kreynes I just tried downloading your map and it doesn't contain the texture. Can you please provide the texture or include some instructions on what we need to replace it.